<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 padder-top m-b-md">
                <a ui-sref="explore.home"><i class="icon ion-grid m-r-xs"></i> Back to all questions</a>
            </div>
            <div class="col-md-6 lines-wrap">
                <ul class="lines">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="panel padder-b box-shadow animated fadeIn">
                    <div class="col-md-9 no-padder b-r">
                        <div class="panel-body padder-b">
                            <div class="col-md-12 animated fadeInUp" ng-hide="loaded">
                                <div class="loader md-12 cols" ng-show="loading">
                                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="results m-t-md" ng-if="loaded && data">
                                <div class="col-md-12">
                                    <h4 class="text-center animated font-thin">Where are the best cities for internet in Lagos?</h4>
                                    <div class="clear w-full" ng-hide="data.length">
                                        <h5 class="animated flipInX text-center wrapper m-t-lg">
                                            <span class="w-full block m-b-md fa-5x"><i class="ion-sad-outline"></i></span>
                                            No data available for this query
                                        </h5>
                                        <hr>
                                        <p class="text-center" log><small class="text-muted">This data was collected from {{log.totalLogs}} internet logs over {{log.totalCities}} cities in {{log.location}} between {{log.firstLogDay | date : "MMMM dd yyyy"}} and {{log.lastLogDay | date : "MMMM dd yyyy"}}</small></p>
                                    </div>
                                </div>
                                <div class="col-md-12 m-t-lg">
                                    <div class="row">
                                        <div class="city m-b-md text-center col-md-3 col-xs-2 animated fadeIn {{'delay-'+$index}}" ng-repeat="city in data | limitTo: 10">
                                            <i class="ion-earth"></i>
                                            <div class="city-position">{{$index + 1}}</div>
                                            <div class="city-name">{{city.name}}</div>
                                            <div class="city-metrics text-muted">{{city.speed}}mbps average speed</div>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padder">
                        <div  class="wrapper-lg m-b-md">
                            <div class="text-info h2">
                                <i class="icon ion-help-circled"></i>
                            </div>
                            <p class="m-b-lg"><a ui-sref="explore.question5">Next: See the data for your selected ISP?</a></p>
                            <div class="animated fadeIn" ng-show="tip">
                                <hr>
                                <p class="m-b-xs text-danger"><b><small>SECURITY TIP</small></b></p>
                                <p class="m-b-md">{{tip.title}}</p>
                                <h5><a class="text-muted" href="{{tip.link}}">Visit the tips section to read more about this tip</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>