<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 padder-top m-b-md">
                <a ui-sref="explore.home"><i class="icon ion-grid m-r-xs"></i> Back to all questions</a>
            </div>
            <div class="col-md-6 lines-wrap">
                <ul class="lines">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="panel box-shadow animated fadeIn">
                    <div class="col-md-9 no-padder b-r">
                        <div class="panel-body padder-b has-float-input">
                            <div class="form-group float-input">
                                <input type="text" placeholder="Select an area to explore" class="form-control form-control-float" g-places-autocomplete options="autocompleteOptions" focus ng-model="place">
                            </div>
                            <div class="col-md-12 animated fadeInUp" ng-hide="loaded">
                                <div class="text-center m-t-lg padder-v" ng-hide="loading">
                                    <img src="/assets/img/location.png" alt="">
                                    <h4 class="text-muted m-t-lg">Choose a location to explore</h4>
                                </div>
                                <div class="loader md-12 cols" ng-show="loading">
                                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="results" ng-if="loaded && data">
                                <div class="col-md-12">
                                    <span class="dropdown" dropdown on-toggle="toggled(open)">
                                        <a href class="h5 dropdown-toggle text-info" dropdown-toggle>
                                        <b>Other comparisons for this location</b> <i class="caret"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="q in questions">
                                                <a ng-click="changeQuery(q)">{{q.title}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="pull-left animated font-thin">{{params.question.title}}</h4>
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <label class="btn btn-primary" ng-model="params.mobile" btn-radio="false">All ISPs</label>
                                            <label class="btn btn-primary" ng-model="params.mobile" btn-radio="true">Mobile Only</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">                                
                                    <!-- <div class="info-box m-t-md animated fadeIn" ng-show="params.question == 0"><i class="icon ion-information-circled"></i> <small class="text-muted">The index values are calculated over 10 using the average cost per mb for the network and the average speed logged for the network. <a href="">Click here</a> to read more about how the index is calculated</small></div> -->
                                    <chart values="data" max="params.question.max" mobile="params.mobile" metric="params.question.metric" integer="params.question.integer" log="locationLog"></chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padder">
                        <div  class="wrapper-lg m-b-md">
                            <div class="text-info h2">
                                <i class="icon ion-help-circled"></i>
                            </div>
                            <p class="m-b-lg"><a ui-sref="explore.question2">Next: What internet provider do people use the most in Lagos?</a></p>
                            <div class="animated fadeIn" ng-show="tip">
                                <hr>
                                <p class="m-b-xs text-danger"><b><small>SECURITY TIP</small></b></p>
                                <p class="m-b-md">{{tip.title}}</p>
                                <h5><a class="text-muted" href="{{tip.link}}">Visit the tips section to read more about this tip</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>