<section>
    <div class="container pos-rlt">
        <div class="row">
            <div class="col-md-6  pull-right lines-wrap landing" style="top: 0">
                <ul class="lines">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="row m-t-md">
            <form class="col-md-9">
                <div id="loader-wrapper" class="m-t-lg m-b-md">
                    <div class="h4 m-t-none text-muted hidden-xs">
                        <i class="ion-ios-information-outline" style="font-size: 30px; float: left; margin-right: 10px;"></i> We use HTML5 GeoLocation to try to guess your location. This may not be correct so please confirm your location before posting.</div>
                    <hr>

                    <div speed-tester></div>
                    <div class="col-md-6 col-xs-12 clear m-b-xs animated fadeIn" ng-show="ready">
                        <div class="m-t-xs">
                            <b class="m-b-xs block">ISP:</b>
                            <input type="text" ng-model="selectedIsp" class="form-control small-input" disabled>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 animated m-b-xs fadeIn" ng-show="ready">
                        <div class="m-t-xs m-b-md">
                            <b class="m-b-xs block text-danger">Confirm Location:</b>
                            <div class="form-group has-feedback">
                                <input class="form-control small-input" type="text" g-places-autocomplete options="autocompleteOptions" ng-model="location" required>
                                <span class="form-control-feedback" ng-show="locationSearch" aria-hidden="true"><i class="ion-load-d fa-spin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 animated fadeIn" ng-show="ready">
                        <div class="btn btn-lg btn-block btn-success" ng-click="post()" ng-disabled="!completed || posting">Post results</div>
                    </div>
                    <div class="success-message animated" ng-show="logged" ng-class="{'fadeIn': logged, 'fadeOut': !logged}">
                        <div class="animated fadeInDown m-b-md">
                            <h3>{{message}}</h3>
                        </div>
                        <div class="share">
                            <a ng-click="reload()" class="btn btn-danger rounded m-r-xs m-b-xs"><i class="ion-refresh m-r-xs"></i>Retake this test</a>
                            <a ui-sref="explore.home" class="btn btn-success rounded m-r-xs m-b-xs"><i class="ion-android-arrow-forward m-r-xs"></i>Explore the data</a>
                        </div>
                        <hr class="m-t-lg">
                        <div class="share m-t-md">
                            <h5>Share your results with your friends</h5>
                            <!-- <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://internetmeter.ng&amp;t={{shareMessage}}" class="btn btn-primary rounded m-r-xs"><i class="ion-social-facebook m-r-xs"></i> Share Result</a> -->
                            <a target="_blank" href="http://twitter.com/home/?status={{shareMessage}}" class="btn btn-primary rounded m-r-xs"><i class="ion-social-twitter m-r-xs"></i> Tweet Result</a>
                        </div>        
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="hidden-xs" style="height: 80px"></div>
                You can subscribe to the newsletter to get regular alerts to test your internet. You can unsubscribe at any time
                <div class="form-group m-t-md">
                    <input type="text" class="form-control small-input" placeholder="Email address">
                    <button class="btn btn-primary btn-block m-t-sm">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>