@import url('font-face/font-awesome.min.css');
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Josefin+Slab);
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Josefin Slab", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */

.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin Sketch", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
}
section {
  position: relative;
}
.btn {
  color: white;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px 10px 0;
  outline: none;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.btn.large {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
}
.grunge-bg {
  background: url(../img/subtle_grunge.png) repeat;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
.no-mobile {
  display: block;
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
.hero {
  text-align: center;
  padding: 80px 0;
  background: url(../img/sputter.gif) no-repeat top center;
}
.scrollbar {
  width: 100%;
  height: 7px;
  border: solid 1px white;
  margin: 5px 0;
}
.scrollbar .handle {
  width: 100px;
  /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: white;
}
.wrap {
  background: url(../img/bg-grunge.jpg) repeat #333333;
}
/* Frame */

.frame {
  height: 600px;
  overflow: hidden;
}
.frame > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.frame > ul > li {
  background: url(../img/bg-grunge.jpg) repeat #333333;
  float: left;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #dddddd;
}
/* Effects */

.effects {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  overflow-y: show;
}
.effects ul {
  -webkit-transform-style: preserve- 3 d;
  -ms-transform-style: preserve- 3 d;
  transform-style: preserve- 3 d;
}
.effects ul li {
  position: relative;
  margin: 0 -20px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
}
.effects ul li.active {
  z-index: 10;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.effects ul li.active ~ li {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.entry-content-container {
  position: relative;
  padding: 20px;
  border-right: solid 1px #333333;
}
.entry-content-container a {
  color: white;
}
.entry-content-container .like-reblog {
  position: absolute;
  top: 20px;
  right: 20px;
}
.entry-content-container .like-reblog a {
  color: #777777;
  margin-right: 10px;
  font-size: 20px;
  font-size: 2rem;
}
.entry-content-container .like-reblog a:hover {
  color: white;
}
.entry-content-container .entry-title {
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
  border: solid 2px #333333;
  padding: 4px 8px;
  display: inline-block;
}
.entry-content-container:hover .entry-title {
  border-color: #e67e22;
}
.entry-content-container:hover .entry-title a {
  color: #e67e22;
}
.entry-content-container .post-actions a {
  color: white;
  display: inline-block;
  padding: 5px 8px;
  border: solid 1px white;
  margin-right: 10px;
  font-size: 13px;
  font-size: 1.3rem;
}
.entry-content-container .post-actions a:hover {
  background: white;
  color: #333333;
}
.entry-content-container .entry-content {
  font-size: 17px;
  font-size: 1.7rem;
}
.entry-content-container .meta {
  margin: 20px 0 0 0;
  clear: both;
  border-top: solid 1px #333333;
}
.entry-content-container .meta .notes,
.entry-content-container .meta .comments,
.entry-content-container .meta .date {
  float: left;
  padding: 5px 8px;
  border-right: solid 1px #333333;
}
.entry-content-container .meta .notes a:hover,
.entry-content-container .meta .comments a:hover,
.entry-content-container .meta .date a:hover {
  color: #e67e22;
}
