@import "reset.css";

html, body { width: 100%; height: 100%; color: white; background: url(bg.png) repeat #222; }

body { font-family: 'Segoe UI', sans-serif; }

.container { width: 100%; display:block; position: relative; }

.hidetop { position: absolute; background:url(closetop.png); width: 100px; height: 100px; right: 10px; top: 70px; cursor: pointer}
.opentop { position: fixed; background:url(opentop.png); width: 100px; height: 100px; right: 10px; top: 0px; cursor: pointer }
.hidetop, .opentop{ z-index: 10;} 

.left, .contact a, #nav a, #gallery li img {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease; }

.left { position: relative; width: 300px; height: 1000px;  z-index: 5;  }
.left:hover {  background: #222 !important; }

.right { position: absolute; width: auto; width: 100% !important; top: 0; }

.about .content { position: absolute; left: 350px !important; width: auto; }

.content .img { margin-top: 100px; background: #c7c7c7; margin-bottom: 20px; width: 819px; height: 1103px; overflow: hidden; }
.gallery { height: auto !important; }

#gallery { position: absolute; width: 100%; height: 100%; }
#gallery li { width: 266px; height: 211px; position: relative; float: left; display: block; background: black; overflow:hidden; margin:0 7px 7px 0; }
#gallery li img { max-width: 266px !important; opacity: 0.3; filter: alpha(opaciity=30); }
#gallery li img:hover { opacity: 1; filter: alpha(opaciity=100); }
#gallery li {
	-webkit-animation: arrange 3s ease-in-out;
	-moz-animation: arrange 3s ease-in-out;
	-ms-animation: arrange 3s ease-in-out;
	-o-animation: arrange 3s ease-in-out;
	animation: arrange 3s ease-in-out;
}

#zoom { width: 819px; height: 1103px; }
#zoom:hover {
	-webkit-animation: zoom 10s ease-in-out infinite;
	-moz-animation: zoom 10s ease-in-out infinite;
	-ms-animation: zoom 10s ease-in-out infinite;
	-o-animation: zoom 10s ease-in-out infinite;
	animation: zoom 10s ease-in-out infinite;
}

.contact, .about { position: relative; top: 40px; padding-top: 30px; height: 150px; padding-left: 40px;  }
.contact h1, .about h1 { position: relative; font-size: 1.4em; margin-bottom: 5px; font-weight: normal; text-indent: 4px; display: block  }
.contact a, #nav li > a { display: block; position: relative; clear: both; padding: 4px 8px; background: black; text-decoration: none; color: white; float: left; margin: 2px 0; }
.resume, .about p { font-size: 0.8em; }
.contact a:hover, #nav li > a:hover { margin-left: 10px; }

.logo { position: relative; clear: both;  left: 40px;  top: 80px; width: 260px; height: 300px;  display: block; }
.logo a{ clear: both;width: 142px; height: 142px ; display: block; }
.name {  position: relative; top: 0px; font-size: 1.2em; clear: both; width: 142px; float: left; display: block}
.name .sub { clear: both; font-size: 0.8em; display: block }

nav { display: block; position: relative; clear: both; left: 40px; height: 150px; width: 260px; }
	
#nav li > a { width: 142px }
	
.disclaimer { clear: both; font-size: 0.8em; position: relative; margin: 40px !important; }
.disclaimer p { margin-bottom: 10px }


.lineshor,.lineshor2 {
	position: absolute;
	top: 40px;
	height: 1px;
	background: #222;
	display: block;

	-webkit-animation: lineshor ease-in-out 10s infinite;
	-moz-animation: lineshor ease-in-out 10s infinite;
	-ms-animation: lineshor ease-in-out 10s infinite;
	-o-animation: lineshor ease-in-out 10s infinite;
	animation: lineshor ease-in-out 10s infinite;
}

.linesvert {
	position: fixed;
	width: 1px;
	background: #222;
	display: block;
	z-index: 9;

	-webkit-animation: linesvert ease-in-out 10s infinite;
	-moz-animation: linesvert ease-in-out 10s infinite;
	-ms-animation: linesvert ease-in-out 10s infinite;
	-o-animation: linesvert ease-in-out 10s infinite;
	animation: linesvert ease-in-out 10s infinite;
}

.lineshor2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
	top: 220px;
}

@keyframes "lineshor" {
	0%,100% {
	left: 0;
	width: 0;
}
 50% {
    left: 0;
   	width: 100%;
 }

}

@-moz-keyframes lineshor {
	0%,100% {
	left: 0;
	width: 0;
}
 50% {
   left: 0;
   width: 100%;
 }

}

@-webkit-keyframes "lineshor" {
	0%,100% {
	left: 0;
	width: 0;
}
 50% {
   left: 0;
   width: 100%;
 }

}

@-ms-keyframes "lineshor" {
	0%,100% {
	left: 0;
	width: 0;
}
 50% {
   left: 0;
   width: 100%;
 }

}

@-o-keyframes "lineshor" {
	0%,100% {
	left: 0;
	width: 0;
}
 50% {
   left: 0;
   width: 100%;
 }

}

@keyframes "linesvert" {
	0%,100% {
	left: 300px;
	height: 0;
}
 50% {
    left: 300px;
   	height: 100%;
 }

}

@-moz-keyframes linesvert {
	0%,100% {
	left: 300px;
	height: 0;
}
 50% {
   left: 300px;
   height: 100%;
 }

}

@-webkit-keyframes "linesvert" {
	0%,100% {
	left: 300px;
	height: 0;
}
 50% {
   left: 300px;
   height: 100%;
 }

}

@-ms-keyframes "linesvert" {
	0%,100% {
	left: 300px;
	height: 0;
}
 50% {
   left: 300px;
   height: 100%;
 }

}

@-o-keyframes "linesvert" {
	0%,100% {
	left: 300px;
	height: 0;
}
 50% {
   left: 300px;
   height: 100%;
 }

}

@keyframes "zoom" {
	0%,100% {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-o-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
 50% {
    -webkit-transform: translate(-100px,-30px);
   	-moz-transform: translate(-100px,-30px);
   	-o-transform: translate(-100px,-30px);
   	-ms-transform: translate(-100px,-30px);
   	transform: translate(-100px,-30px);
 }

}

@-moz-keyframes zoom {
	0%,100% {
	-moz-transform: translate(0);
	transform: translate(0);
}
 50% {
   -moz-transform: translate(-100px,-30px);
   transform: translate(-100px,-30px);
 }

}

@-webkit-keyframes "zoom" {
	0%,100% {
	-webkit-transform: translate(0);
	transform: translate(0);
}
 50% {
   -webkit-transform: translate(-100px,-30px);
   transform: translate(-100px,-30px);
 }

}

@-ms-keyframes "zoom" {
	0%,100% {
	-ms-transform: translate(0);
	transform: translate(0);
}
 50% {
   -ms-transform: translate(-100px,-30px);
   transform: translate(-100px,-30px);
 }

}

@-o-keyframes "zoom" {
	0%,100% {
	-o-transform: translate(0);
	transform: translate(0);
}
 50% {
   -o-transform: translate(-100px,-30px);
   transform: translate(-100px,-30px);
 }

}

@keyframes "arrange" {
 0% {
    margin-top: 100px;
 }
 100% {
    margin-top: 0;
 }

