@import "reset.css";

html, body { width: 100%; height: 100%; color: white; background: url(dark_mosaic.png) repeat #222; }

body { font-family: 'Segoe UI', sans-serif; }

.container { width: 960px; display:block; position: relative; margin: 0 auto; top: 0px;  }
.gallery { position:relative; height: 470px; overflow: hidden; width: 100%; z-index: 3; }
.slider-wrapper { width: 50%; position: relative; float: left; }

.description { width: 100%; height: 120px; background: #0b0b0b; display: block; position: relative; clear: both;  }
.description img { float: left; margin-right: 30px; z-index:4 }
.description h1 { font-weight: normal; font-size: 1.4em; color: #06C; padding-top:20px;}
.description p { font-size: 1em; color: #999; line-height: 1.2; } 

.description:before {
	content: '';
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
	height: 100%;
	background: #0b0b0b;
	display: block; }
		
.description:after {
	content: '';
	position: absolute;
	top: 0;
	right: -20px;
	width: 20px;
	height: 100%;
	background: #0b0b0b;
	display: block; }



