html { font-size: 62.5%; }
    
body { 
    font-family: 'source_sans_proregular', serif;
    font-size:14px;
    background: whitesmoke;
    width: 100%; }
           
body.privacy {
    background: lightgreen;
}
           
#wrap { .rel; .db; margin: 0 auto;
    width: 100%; }
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    position: relative;
    color: #00a651;
    outline: 0 !important;
    &:hover { color: #035229; }
    &:visited { outline: 0 !important; } }
    
.transition(@string: all 0.3s ease-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}


header { height: 50px; position: fixed; top:0; z-index: 33;
width: 100%;
padding: 0px 20px;
background: #444242; /* Old browsers */
background: -moz-linear-gradient(top,  #444242 0%, #212121 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444242), color-stop(100%,#212121)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444242 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444242 0%,#212121 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444242 0%,#212121 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444242 0%,#212121 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

.logo { margin-top: 10px; height: 30px; }

.download {
    float: right;
    color: white;
background: rgb(110,221,123); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(110,221,123,1) 3%, rgba(0,166,81,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(110,221,123,1)), color-stop(100%,rgba(0,166,81,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(110,221,123,1) 3%,rgba(0,166,81,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(110,221,123,1) 3%,rgba(0,166,81,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(110,221,123,1) 3%,rgba(0,166,81,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(110,221,123,1) 3%,rgba(0,166,81,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6edd7b', endColorstr='#00a651',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 3px #035229;
    -moz-box-shadow: 0px 0px 3px #035229;
    -webkit-box-shadow: 0px 0px 3px #035229; 
padding: 5px 8px;
margin-top: 10px;
border-radius: 3px; }

.download:hover {
    background: rgb(0,166,81); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,166,81,1) 0%, rgba(110,221,123,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,166,81,1)), color-stop(100%,rgba(110,221,123,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,166,81,1) 0%,rgba(110,221,123,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,166,81,1) 0%,rgba(110,221,123,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,166,81,1) 0%,rgba(110,221,123,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,166,81,1) 0%,rgba(110,221,123,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#6edd7b',GradientType=0 ); /* IE6-9 */

}

.main-content {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.details { margin-bottom: 10px; }

.post-source, .time-stamp {
    margin: 0; display: inline-block; }
    
.post-source { color: white; background: #333; border-radius: 10px; padding:3px 7px; }
.time-stamp { float: right; }

.post-title { font-size: 24px; line-height: 1.2; }

.post-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: solid white 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);    
}


.main-logo.error {
    margin-top: 40px;
}

.details.error p {
    color: red;
    text-align: center;
}

.instruction {
    background: url(assets/images/blackorchid.png) #333;
    padding: 20px;
        box-shadow: inset 0px 3px 3px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.8);
}


.instruction h1 {
    color: #00a651;
    font-size: 16px;
    font-weight: normal;
}
.instruction p {
    color: white;
    font-size: 13px;
}


.download-option {
    padding: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;   
}

body.dl {    
    background: url(assets/images/blackorchid.png) #333;
}

.download-choice {
    margin: 10px 20px;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.main-logo { text-align: center; margin-bottom: 20px; }

.download-option .download {
    width: 100%;
    padding: 8px 0;
    text-align: center;
}



.timeline h2 {
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: solid 2px #00a651;
    padding-left: 26px;
    background: url(assets/images/list.png) no-repeat;
}

.timeline .post-source, .time-stamp {
    font-size: 12px; 
}

.timeline .post-source {
    background: none;
    color: black;
    padding: 0;
    font-weight: bold;
}

.timeline .time-stamp {
    float: left;
}

.timeline li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #999;
}

.timeline li:last-child {
    border: 0;
}

.timeline li .post-title {
    font-size: 16px;
    margin: 5px 0;
    display: block; }
}