

/*----------------------------
	Styling the divs
-----------------------------*/


.ftContain{
	position:relative;
	z-index:1;	
	-moz-perspective: 500px;
	-webkit-perspective: 500px;
	perspective: 500px;
}

.ftContain span {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background: #030303;
	left:0;
    padding: 20px;
}

.ftContain span .songtitle {
    display: block;
    color: #639d48;
    font-size: 24px; }

.ftContain span .songtitle:hover { text-decoration: underline; }

.ftContain span .artistes, .ftContain span .genre { color: white; }

.ftContain span .download {
    display: inline-block;
    color: white;
    background: #161616;
    padding: 3px 7px;
    border-radius: 3px;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	transition:0.2s;}

.ftContain span .download:hover {
    background:#639d48; }

.ftContain span .note {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 20px;
    font-size: 12px; }

.ftContain span, .ftimage {	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

.ftimage{
	z-index:2;
	opacity: 0.4;
}

.ftimage:hover {
	opacity: 1;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	-moz-transform:rotateX(-10deg);
	-webkit-transform:rotateX(-10deg);
	transform:rotateX(-10deg); }
	

.ftdetails{
	z-index:1;
	opacity:0;
	
	/* Rotating the recover password form by default */
	-moz-transform:rotateX(180deg);
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
}

.ftContain.flipped .ftimage{
	opacity: 0;
	-moz-transform:rotateX(-180deg);
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
}

.ftContain.flipped .ftdetails{
	
	opacity:1;
	-moz-transform:rotateX(0deg);
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
}


