---
import "@styles/index.css"

import Layout from "@layout/Layout.astro"
---
<Layout 
	bodyClassName="checkered"
	pageUrl="https://wuruwuru.com"
	pageImage="https://wuruwuru.com/assets/images/thumbnail.png"
>
	<h1>Home</h1>
</Layout>
