---
//Layout
import Layout from "@layout/Layout.astro"

//Styles
import "@styles/odabokayode.css"

//Assets
import logo from "@images/logo.png"
import olympic from "@images/olympic.jpeg"
---
<Layout
    pageTitle="Ódàbò ódàbò Káyòdé"
    pageDescription="Emmanuel Ifeajuna and the Olympic notebook."
    pageUrl="https://wuruwuru.com/odabokayode"
    pageImage="https://wuruwuru.com/assets/images/olympic.jpeg"
    hideNav
>
    <meta name="author" content="Wururuwu" slot="header-content">

    <div class="illustration">
        <span>Edé times edé</span>
        <span>Rèmí kòní ìyá</span>
        <span>Sẹ́gun elérée bóólù</span>
        <span>Ódàbò ódàbò Káyòdé</span>
    </div>
    <div class="more">
        <img src={olympic} alt="Olympic notebook cover with Emmanuel Ifeajuna">
        <p>The man in the illustration is Emmanuel Ifeajuna, a Nigerian army major and high jumper. He was the first Black African to win a gold medal at an international sports event, the 1954 British Empire and Commonwealth Games.</p>
        <p>More: <a href="https://www.nairaland.com/2822069/emmanuel-arinze-ifeajuna-olympic-exercise-2b" target="_blank" rel="noreferrer noopener">Nairaland</a>, <a href="https://en.wikipedia.org/wiki/Emmanuel_Ifeajuna">Wikipedia</a></p>
    </div>
    <div class="wuruwuru">
        <a href="/">
            <img src={logo} alt="Wururuwu">
        </a>
    </div>    
</Layout>