<div class="sidebar animated slideInLeft">

	<p>SPENDING PATTERN</p>
	<chart values="expenses"></chart>

	<p>ALL SPENDING (₦)</p>
	<h3>{{stats.total | number:0}}</h3>

	<p>AVERAGE MONTHLY SPENDING (₦)</p>
	<h3>{{stats.average_month | number:0}}</h3>

	<p>AVERAGE WEEKLY SPENDING (₦)</p>
	<h3>{{stats.average_week | number:0}}</h3>
</div>

<div class="sidebar two animated slideInLeft">

	<p>RECURRENT(₦)</p>
	<ul>
		<li class="recurrent" ng-repeat="person in stats.recurrent">
			<b>Total</b> - {{person.transaction_count}}
			<h4>{{person.amount | number:0}}</h4>
			<b>{{person.name}}</b>
		</li>
	</ul>
</div>

<div class="content pad animated slideInRight">
	<div class="small-12 columns no-pad" ng-repeat="t in expenses">
		<div class="card">
			<div class="border large-4 columns">
				<h3 class="time-frame">{{t.time}}</h3>
				<p class="opening-balance">
					<span>Total Income</span>
					₦{{t.total}}
				</p>

				<a ng-click="showExpenses = !showExpenses; showIncome = false">
					<span ng-hide="showExpenses">VIEW ALL TRANSACTIONS</span>
					<span ng-show="showExpenses">HIDE TRANSACTIONS</span>
				</a>
			</div>

			<div class="large-8 columns">
				<div class="type" ng-repeat="type in t.types">
					<span class="type_name">{{type.name}} (₦)</span>
					<div class="transaction_count">
						<span class="alt" count-to="{{type.transaction_amount}}" duration="1"></span>
						<small>20 Transactions</small>
					</div>
				</div>
			</div>

			<div class="medium-12 columns">
				<table class="rwd-table animated flipInX" ng-show="showExpenses">
				  <tr>
				  	<th><span class="icon"></span></th>
				    <th>Date</th>
				    <th>Ref</th>
				    <th>Amount</th>
				    <th>Remarks</th>
				  </tr>
				  <tr ng-repeat="expense in t.expenses">
				  	<td><span class="circle orange"></span></td>
				    <td data-th="Date">{{expense.date}}</td>
				    <td data-th="Ref">{{expense.ref}}</td>
				    <td data-th="Amount">{{expense.amount}}</td>
				    <td data-th="Remarks">{{expense.remarks}}</td>
				  </tr>
				</table>
			</div>
		</div>


	</div>
</div>