@font-face {
  font-family: 'Whitney';
  src: url(Whitney-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'Whitney';
  src: url(Whitney-Book.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Whitney';
  src: url(Whitney-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url(Whitney-Bold.otf);
  font-weight: 700;
}
