<section id="hero">
    <div class="container pos-rlt">
        <div class="col-md-6 pull-right lines-wrap landing">
            <ul class="lines">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 animated fadeInDown">
                <h3 class="font-thin">Explore ISP performance across <span>Lagos, Nigeria</span></h3>
                <p>Internet Metre helps you compare ISP performance with data aggregation and analysis.</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 animated fadeIn">
                <div class="boxes">
                    <div class="module">
                        <div class="_body">
                            <div class="__icon">
                                <a ui-sref="explore.test">
                                    <img src="/assets/img/icon-1.png" alt="">
                                </a>
                            </div>
                            <div class="__text">
                                <h3>How does your ISP perform? Test your internet speed</h3>
                            </div>
                        </div>
                        <div class="_button">
                            <a ui-sref="explore.test">Test Now <i class="ion-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 animated fadeIn">
                <div class="boxes">
                    <div class="module">
                        <div class="_body">
                            <div class="__icon">
                                <a ui-sref="explore.home">
                                    <img src="/assets/img/icon-2.png" alt="">
                                </a>
                            </div>
                            <div class="__text">
                                <h3>Compare performance of all ISPs in Lagos State</h3>
                            </div>
                        </div>
                        <div class="_button">
                            <a ui-sref="explore.home">Explore <i class="ion-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 animated fadeIn">
                <div class="boxes">
                    <div class="module">
                        <div class="_body">
                            <div class="__icon">
                                <a href="">
                                    <img src="/assets/img/icon-3.png" alt="">
                                </a>
                            </div>
                            <div class="__text">
                                <h3>Get tips on internet usage and how to reduce your data costs</h3>
                            </div>
                        </div>
                        <div class="_button">
                            <a href="">Discover How <i class="ion-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>