---
import cbd from "@project-images/jguide/cbd.png"
---
<p class="intro-text">
   This episode reuqired an extesnive research on CBD. It was created to teach the health benefits of cannabis and its numerous uses. 
</p>
<img src={cbd} alt="CBD image" class="image">
<p class="detail has-margin">
    <span class="inter">Artist:</span>
    <a href="www.vanny.com">Vanny</a>
</p>
<p class="detail">
    <span class="inter">Published:</span>
    <span>31st December, 2020</span>
</p>
<style>
    .intro-text{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        max-width: 642px;
        margin: 0 0 60px;
    }

    @media (max-width: 600px){
        .intro-text{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .image{
        margin-bottom: 60px;
    }

    @media (max-width: 600px){
        .image{
            width: 100%;
            padding: 0 21px;
        }
    }
    .detail{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 0;
    }

    @media (max-width: 600px){
        .detail{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .detail.has-margin{
        margin-bottom: 30px;
    }

    @media (max-width: 600px){
        .detail.has-margin{
            margin-bottom: 20px;
        }
    }

    .detail a{
        text-decoration: underline;
    }

    .detail .inter{
        font-family: 'Inter';
    }
</style>