---
import cbd from "@project-images/jguide/cbd.png"
import TabDetails from "./TabDetails.astro";
---
<p class="intro-text">
   This episode reuqired an extesnive research on CBD. It was created to teach the health benefits of cannabis and its numerous uses. 
</p>
<img src={cbd} alt="CBD image" class="image">
<TabDetails artistLink="https://www.artstation.com/dannyvanny" artist="Vanny" published="31st December, 2020"/>

<style>
    .intro-text{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        max-width: 642px;
        margin: 0 0 60px;
    }

    @media (max-width: 600px){
        .intro-text{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .image{
        margin-bottom: 60px;
    }

    @media (max-width: 600px){
        .image{
            width: 100%;
            padding: 0 21px;
        }
    }
</style>