---
import gettingHigh from "@project-images/jguide/getting-high.png"
import TabDetails from "./TabDetails.astro";
---
<p class="intro-text">
    “Getting High”, is about the biology of how we get high. 
    <br/>
    <br/>
    It’s set in a smoke sesh with three friends. They pass the joint around and talk about the Endocannobinoid system, stoner culture and how we get high.
</p>
<figure class="profile-image-wrapper">
    <img class="profile-image" src={gettingHigh} alt="Character Profile">
    <figcaption class="profile-image-caption">Character Profile</figcaption>
</figure>
<TabDetails artistLink="https://www.artstation.com/bolusowoolu" artist="Bolu Sowoolu" published="20th April, 2021"/>

<style>
    .intro-text{
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 60px;
        color: #000000;
        max-width: 670px;
    }

    @media (max-width: 600px){
        .intro-text{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .profile-image-wrapper{
        width: 90%;
        max-width: 720px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        row-gap: 20px;
    }

    @media (max-width: 600px){
        .profile-image-wrapper{
            width: 100%;
            padding: 0 25px
        }
    }
    
    .profile-image{
        width: 100%;
    }

    .profile-image-caption{
        font-size: 16px;
        line-height: 19px;
        color: #938888;
    }
</style>