---
import gettingHigh from "@project-images/jguide/getting-high.png"
---
<p class="intro-text">
    “Getting High”, is about the biology of how we get high. 
    <br/>
    <br/>
    It’s set in a smoke sesh with three friends. They pass the joint around and talk about the Endocannobinoid system, stoner culture and how we get high.
</p>
<figure class="profile-image-wrapper">
    <img class="profile-image" src={gettingHigh} alt="Character Profile">
    <figcaption class="profile-image-caption">Character Profile</figcaption>
</figure>
<p class="detail has-margin">
    <span class="inter">Artist:</span>
    <a href="www.vanny.com">Vanny</a>
</p>
<p class="detail">
    <span class="inter">Published:</span>
    <span>31st December, 2020</span>
</p>

<style>
    .intro-text{
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 60px;
        color: #000000;
        max-width: 670px;
    }

    @media (max-width: 600px){
        .intro-text{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .profile-image-wrapper{
        width: 90%;
        max-width: 720px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        row-gap: 20px;
    }

    @media (max-width: 600px){
        .profile-image-wrapper{
            width: 100%;
            padding: 0 25px
        }
    }
    
    .profile-image{
        width: 100%;
    }

    .profile-image-caption{
        font-size: 16px;
        line-height: 19px;
        color: #938888;
    }

    .detail{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 0;
    }

    @media (max-width: 600px){
        .detail{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .detail.has-margin{
        margin-bottom: 30px;
    }

    @media (max-width: 600px){
        .detail.has-margin{
            margin-bottom: 20px;
        }
    }

    .detail a{
        text-decoration: underline;
    }

    .detail .inter{
        font-family: 'Inter';
    }
</style>