---
//Components
import TabDetails from "./TabDetails.astro";

//Assets
import comic1 from "@project-images/jguide/rolling/comic-1.png"
import comic2 from "@project-images/jguide/rolling/comic-2.png"
import storyboarding from "@project-images/jguide/rolling/storyboarding.png"

---
<p class="intro-text">
    The Feed and Rolling was our first attempt at creating a comic, so we had not learned to write a story before going in to illustrate. We were lucky to work with an artist that envisioned what we were trying to achieve. 
</p>
<div class="comics">
    <img src={comic1} alt="Step 1 - Rolling">
    <img src={comic2} alt="Step 2 - Rolling">
</div>
<figure class="storyboarding-image-wrapper">
    <img src={storyboarding} class="storyboarding-image" alt="">
    <figcaption class="storyboarding-image-caption">
        Storyboarding
    </figcaption>
</figure>
<TabDetails artistLink="https://www.artstation.com/dannyvanny" artist="Vanny" published="31st December, 2020"/>

<style>
    .intro-text{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        max-width: 670px;
        margin: 0 0 60px;
    }

    @media (max-width: 600px){
        .intro-text{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .comics{
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 60px;
    }

    @media (max-width: 1000px){
        .comics{
            flex-direction: column;
            row-gap: 20px;
        }
    }

    .storyboarding-image-wrapper{
        width: 90%;
        max-width: 833px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        row-gap: 20px;
    }
    
    @media (max-width: 600px){
        .storyboarding-image-wrapper{
            padding: 0 4px;
            width: 100%;
        }
   }

    .storyboarding-image{
        width: 100%;
    }

    .storyboarding-image-caption{
        font-size: 16px;
        line-height: 19px;
        color: #938888;
    }
</style>