---
export interface Props {
    artist: string;
    published: string;
    artistLink: string
}

const { artist, artistLink, published } = Astro.props;
---
<p class="detail has-margin">
    <span class="inter">Artist:</span>
    <a target="_blank" href={artistLink}>{artist}</a>
</p>
<p class="detail">
    <span class="inter">Published:</span>
    <span>{published}</span>
</p>
<style>
    .detail{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 0;
    }

    @media (max-width: 600px){
        .detail{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .detail.has-margin{
        margin-bottom: 30px;
    }

    @media (max-width: 600px){
        .detail.has-margin{
            margin-bottom: 20px;
        }
    }

    .detail a{
        text-decoration: underline;
    }

    .detail .inter{
        font-family: 'Inter';
    }
</style>