---
//Assets
import ayinla from "@project-images/cover-bank/slide-1/ayinla.png"
import ycee from "@project-images/cover-bank/slide-1/ycee.png"
import asa from "@project-images/cover-bank/slide-1/asa.png"
import fela from "@project-images/cover-bank/slide-1/fela.png"
import oliver from "@project-images/cover-bank/slide-1/oliver.png"
import burna from "@project-images/cover-bank/slide-1/burna.png"
import jcole from "@project-images/cover-bank/slide-1/jcole.png"
import shango from "@project-images/cover-bank/slide-1/shango.png"
import ijinle from "@project-images/cover-bank/slide-1/ijinle.png"
import edna from "@project-images/cover-bank/slide-1/edna.png"

//Components
import ProjectSlide from "@components/ProjectSlide.astro"

const images = [
    ycee,
    fela,
    jcole,
    shango,
    ayinla,
    edna,
    asa,
    oliver,
    burna,
    ijinle
];

const { id } = Astro.props;
---
<ProjectSlide id={id} className="slide">
    <div class="album-covers">
        {images.map(image => (
           <img src={image} alt="Album art" class="album-covers__cover">
        ))}
    </div>
</ProjectSlide>

<style>
    .slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 1200px){
        .slide{
            padding: 100px;
            align-items: unset;
            display: block;
        }
    }

    @media (max-width: 600px){
        .slide{
            padding: 118px 16px 80px;
        }
    }

    .album-covers{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 52px 16px;
        width: fit-content;
        margin: 0 auto;
    }

    @media (max-width: 1200px){
        .album-covers{
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            justify-items: center;
            width: 100%;
        }
    }

    @media (max-width: 600px){
        .album-covers{
            grid-template-columns: repeat(2, auto);
            row-gap: 32px;
            width: fit-content;
        }
    }

    .album-covers__cover{
        object-fit: cover;
    }
</style>