/*
* Created by Aikomo Onaopemipo,
* Copyright 2012
* Based on Skeleton V1.2
* Copyright 2011, Dave Gamache
*/



/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Images
	#Buttons
	#Forms


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: url(bg.jpg) #000000;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font: 14px/21px "Segoe UI", sans-serif;
		color: #7b7b7b;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 
 
 	.container .content { 
		background: rgba(0,0,0,0.6) !important;
		background: black; /**For IE**/
		border-radius: 5px;
	}
 
 	.link { position: relative; width: 100%; text-align: left; margin: 10px 0 }
	.twitter-follow-button { float: left !important }

 /*  #Mobile
================================================== */

    /* Note: Background for small devices*/

    @media only screen and (max-width: 767px) {
      	body { background: url(bg_mobile.jpg) #000000; }

	}

    @media only screen and (min-width: 480px) and (max-width: 767px) {
      	body { background: url(bg_mobile.jpg) #000000; }

	}
	


/* #Typography
================================================== */
	h1, a, h2, p {
		color: #7b7b7b;
		font: "MUSEOSANS", sans-serif;
		font-weight: 100; text-decoration: none; }
	h1 { font-size: 16px; line-height: 1.2; }
	h2 { font-size: 18px; color: #64b2cc !important; float: right; line-height: 40px; }

	p { font-size: 14px; line-height: 1.3; margin: 0 0 20px 0; }
	a { color: white }



/* #Images
================================================== */

	img.logo {
		max-width: 20%;
		height: auto;
		float: left;
		margin-bottom: 10px; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #244386; /* Old browsers */
background: -moz-linear-gradient(top, #244386 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#244386), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #244386 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #244386 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #244386 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to bottom, #244386 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244386', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
		border-radius: 5px;
		width: 100%;
		max-width: 100% !important;
		display: block;
		height: 50px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		border: none;
		font-family : "Segoe UI";
		font-weight: 700;
		font-size: 24px;
		color: white;
		text-align: center;
		cursor: pointer;
 }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		color: whitesmoke; } }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin: 0 0 20px 0;
		position: relative;
		width: 100% !important; }

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea,
	select {
		border: none;
		padding: 6px 10px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "Segoe UI", sans-serif;
		color: #7b7b7b !important;
		width: 94%;
		max-width: 94%;
		height: 40px;
		display: block;
		margin-bottom: 10px;
		background: #151515; }
	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #7b7b7b;
 		color: #64b2cc; }
	textarea {
		min-height: 60px; resize:none; }
	select { line-height: 40px }