/*
* Created by Aikomo Onaopemipo,
* Copyright 2012
* Based on Skeleton V1.2
* Copyright 2011, Dave Gamache
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base Grid
================================================== */

    .container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .content { position: relative; width: 37.70%; margin: 0 auto;  top: 50px; padding: 20px; }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container { width: 768px; }
   		.container .content { position: relative; width: 50.78125%; margin: 0 auto;  top: 50px; padding: 20px; }
	}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
    	.container .content { position: relative; width: 80%; margin: 0 auto;  top: 20px; padding: 20px; }

	}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
   		.container .content { position: relative; width: 72%; margin: 0 auto;  top: 40px; padding: 20px; }

	}
	


/* #Clearing
================================================== */

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

