@font-face {
  font-family: 'Soehne';
  font-weight: normal;
  src: url('../../assets/fonts/soehne-web-buch.woff');
}

@font-face {
  font-family: 'Soehne';
  font-weight: normal;
  font-style: italic;
  src: url('../../assets/fonts/soehne-web-buch-kursiv.woff');
}

@font-face {
  font-family: 'Soehne';
  font-weight: 500;
  src: url('../../assets/fonts/soehne-kraftig.woff2');
}

@font-face {
  font-family: 'Soehne';
  font-weight: bold;
  src: url('../../assets/fonts/soehne-web-halbfett.woff');
}

@font-face {
  font-family: 'Soehne';
  font-weight: bold;
  font-style: italic;
  src: url('../../assets/fonts/soehne-web-halbfett-kursiv.woff');
}

@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 400;
  src: url('../../assets/fonts/soehne-schmal-web-buch.woff');
}

@font-face {
  font-family: 'Soehne Breit';
  font-weight: 400;
  src: url('../../assets/fonts/soehne-breit-buch.woff2');
}

@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 700;
  src: url('../../assets/fonts/soehne-schmal-web-dreiviertelfett.woff');
}

@font-face {
  font-family: 'Soehne Breit';
  font-family: 400;
  src: url('../../assets/fonts/soehne-breit-buch.woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-Regular.woff');
}