@font-face {
  font-family: 'GT Alpina Rg';
  src: local('GT Alpina Rg It'), local('GTAlpina-RgIt'),
      url('../../assets/fonts/GTAlpina-RgIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Rg';
  src: local('GT America Rg'), local('GTAmerica-Rg'),
      url('../../assets/fonts/GTAmerica-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Alpina Rg';
  src: local('GT Alpina Rg'), local('GTAlpina-Rg'),
      url('../../assets/fonts/GTAlpina-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Rg';
  src: local('GT America Mono Rg'), local('GTAmericaMono-Rg'),
      url('../../assets/fonts/GTAmericaMono-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}