
.l-grid {
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: auto;
  gap: 0px $grid-gutter; 
  @include screen('small') {
    display: block;
  }
  > * {
    grid-column: auto / span $grid-columns;
  }

  &__column {
    @for $value from 1 to $grid-columns {
      &-start--#{$value} {
        grid-column-start: #{$value};
      }

      &--#{$value} {
        grid-column: auto / span #{$value};
      }
    }
  }
}