* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%; // 1rem = 10px
  -webkit-text-size-adjust: 100%;
  @include screen('med-small') {
    // font-size: 56.25%; // 1rem = 8px
    font-size: 50%; // 1rem = 8px
  }
  // @include screen('small') {
  //   font-size: 37.5%; // 1rem = 6px
  // }
}

body {
  margin: 0;
  position: relative;
  font-family: var(--font-serif, 'GT Alpina');
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: var(--color-black);
  font-size:var(--font-size-base);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}

button {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-light-gray);
}