a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  &.c-link.c-link--out {
    display: inline-flex;
    align-items: center;
    justify-content: center;

  @keyframes flash {
    0%, 100% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
  }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      display: inline-flex;
      margin-left: .4rem;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 8.5L8.5 3.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 3.5H8.5V8.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &:hover::after {
      animation: flash .5s infinite;
    }
  }
}
a:hover {
  text-decoration: underline;
  // animation: underline-flash .5s infinite;
  // @keyframes underline-flash {
  //   0%, 100% {
  //     text-decoration: none;
  //   }
  //   80% {
  //     text-decoration: underline;
  //   }
  // }
}



h1, h2, h3 {
  font-family: var(--font-serif);
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  margin: 0;
  font-family: var(--font-sans-mono);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  font-weight: 400;
}

.wrwr {
  font-style: lowercase;
  font-style: italic;
}