$grid-columns: 9;
$grid-gutter: 24px;

:root {
  --color-black: #12100E;
  --color-dark-gray: #938888;
  --color-light-gray: #D9D9D9;
  --color-offwhite: #F5F5F5;
  --color-white: #ffffff;
  --font-serif: 'GT Alpina', 'GT Alpina', serif;
  --font-sans: 'GT America', 'GT America', sans-serif;
  --font-sans-mono: 'GT America Mono', 'GT America Mono', monospace;
  --font-size-base: 2rem;
  --grid-column: $grid-columns;
  --grid-gutter: $grid-gutters;
  --grid-container-width: 1480px;
  --spacer-base: 6.4rem;
  --z-index--1: 1;
  --z-index--2: 2;
  --z-index--5: 5;
  --z-index--10: 10;
}