:root {
  --color-black: #12100E;
  --color-dark-gray: #938888;
  --color-light-gray: #D9D9D9;
  --color-offwhite: #F5F5F5;
  --color-white: #ffffff;
  --font-serif: 'GT Alpina Rg', 'GT Alpina', serif;
  --font-sans: 'GT America Rg', 'GT America', sans-serif;
}