@font-face {
  font-family: 'Soehne';
  font-weight: normal;
  src: url('../../assets/fonts/soehne-web-buch.woff');
}
@font-face {
  font-family: 'Soehne';
  font-weight: normal;
  font-style: italic;
  src: url('../../assets/fonts/soehne-web-buch-kursiv.woff');
}
@font-face {
  font-family: 'Soehne';
  font-weight: bold;
  src: url('../../assets/fonts/soehne-web-halbfett.woff');
}
@font-face {
  font-family: 'Soehne';
  font-weight: bold;
  font-style: italic;
  src: url('../../assets/fonts/soehne-web-halbfett-kursiv.woff');
}
@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 400;
  src: url('../../assets/fonts/soehne-schmal-web-buch.woff');
}
@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 700;
  src: url('../../assets/fonts/soehne-schmal-web-dreiviertelfett.woff');
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-Regular.woff');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  font-family: 'Soehne', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  animation: underline-flash .5s infinite;
}

@keyframes underline-flash {
  0%, 100% {
    text-decoration: none;
  }
  80% {
    text-decoration: underline;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}

/* https://bansal.io/pattern-css#installation */
.checkered {
  background-image:
    repeating-linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 75%, #e5e5e5 75%, #e5e5e5),
    repeating-linear-gradient(45deg, #e5e5e5 25%, transparent 25%, transparent 75%, #e5e5e5 75%, #e5e5e5);
  background-position: 0 0, 10px 10px;
  /* background-attachment: fixed; */
  background-size: calc(2 * 10px) calc(2 * 10px);
}