---
//Components
import ProjectSlide from "@components/ProjectSlide.astro";

//Assets
import comic1 from "@project-images/jguide/slide-1/1.png"
import comic2 from "@project-images/jguide/slide-1/2.png"
import comic3 from "@project-images/jguide/slide-1/3.png"

const { id } = Astro.props;
---
<ProjectSlide id={id} className="slide">
    <div class="comics">
        <img src={comic1} alt="Page 1"/>
        <img src={comic2} alt="Page 2"/>
        <img src={comic3} alt="Page 3"/>
    </div>
</ProjectSlide>
<style>
    .slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 600px){
        .slide{
            padding: 68px 15px;
            align-items: unset;
        }
    }

    .comics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 16px;
        width: 22%;
        max-width: 450px;
    }

    @media (max-width: 1000px){
        .comics{
            width: 30%
        }
    }
    @media (max-width: 600px){
        .comics{
            min-width: unset;
            width: 100%;
            justify-content: unset;
        }
    }
</style>