@import url('font-face/font-awesome.min.css');
@import url('font/stylesheet.css');
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  height: 100%;
  position: relative;
  cursor: default;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-family: "Gotham", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.no-pad {
  padding: 0;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
.gap-top {
  margin-top: 30px;
}
section {
  position: relative;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .no-mobile {
    display: none;
  }
}
.icon {
  font-size: 48px;
  font-size: 4.8rem;
}
.btn {
  background: none;
  padding: 7px 10px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}
.btn.full {
  text-align: center;
  width: 100%;
}
.btn.lg {
  width: 100%;
  padding: 10px 14px;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
}
.btn.white {
  color: white;
  border-color: white;
}
.btn-group .btn {
  float: left;
}
.btn-group .btn:not(:first-child) {
  border-left: 0;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.header .logo {
  height: 100px;
  padding: 20px;
  float: left;
  text-align: center;
}
.header .logo img {
  max-height: 100%;
}
.header .menu {
  float: right;
}
.header .menu ul li {
  float: left;
  margin-right: 20px;
}
.header .menu ul li a {
  line-height: 100px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.header .menu.background--dark ul li a {
  color: #333;
}
.header .menu .menu-toggle {
  float: right;
  height: 100px;
  width: 100px;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  color: #8f3f91;
  cursor: pointer;
  background: white;
}
.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  z-index: 2;
}
.vignette {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.81)), color-stop(66%, rgba(0, 0, 0, 0.43)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.43) 66%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.slider.slick-slider {
  margin-bottom: 0;
}
.slider .slick-list,
.slider .slick-track {
  height: 100%;
}
.slider .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}
.tag {
  position: absolute;
  bottom: 40px;
  width: auto;
  left: 40px;
  padding: 40px;
  height: 150px;
  z-index: 10;
  background: #8f3f91;
  color: white;
  font-size: 24px;
  font-weight: 100;
}
.tag p {
  margin: 0 0 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}
.tag h1 {
  margin: 0;
  font-weight: 100;
}
.tag a {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d097d2;
}
.box {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 300px;
  padding: 40px;
  background: white;
}
.box p {
  font-size: 24px;
  font-weight: 100;
  line-height: 1;
  margin-top: 0;
}
.box a {
  font-size: 13px;
}
