@import url('font-face/font-awesome.min.css');
@import url('font/stylesheet.css');
.bold {
  font-family: 'brandon_textbold';
}
.basefont {
  font-family: "brandon_text_regularregular", Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "brandon_text_regularregular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */

.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon_text_regularregular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
section {
  position: relative;
}
.btn {
  color: white;
  background: #222222;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px 10px 0;
  outline: none;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.btn.large {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
}
.white-bg {
  background: white;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
.no-mobile {
  display: block;
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
.header {
  width: 100%;
  background-color: #fff2e4;
  height: 120px;
  line-height: 120px;
}
.header .logo {
  float: left;
}
.header .menu {
  float: left;
  margin-left: 80px;
}
.header .menu li {
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}
.header .menu li a {
  color: #444444;
  font-family: 'brandon_textbold';
}
.header .menu.fade {
  opacity: 0.3;
}
@media all and (max-width: 800px) {
  .header .menu {
    position: absolute;
    width: 100%;
    top: 120px;
    margin: 0;
    padding: 20px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 300;
    height: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    display: none;
  }
  .header .menu li {
    float: none;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 2;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .header .menu.fade {
    opacity: 1;
  }
  .header .menu.show {
    height: auto;
    display: block;
  }
  .header .menu.show li {
    opacity: 1;
  }
}
.header .icons {
  position: relative;
}
.header .icons .round-btn {
  display: inline-block;
  padding: 12px;
  height: 40px;
  margin: 40px 0;
  border-radius: 50px;
  background-color: #ce3b07;
  color: white;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .icons .round-btn i {
  line-height: 1;
}
.header .icons .search-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  z-index: -1;
  width: 250px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin: 40px 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
@media all and (min-width: 640px) {
  .header .icons .search-box {
    width: 350px;
  }
}
.header .icons .search-box input {
  margin: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.header .icons .search-box button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  border: none;
}
.header .icons .search-box .close {
  position: absolute;
  right: -20px;
  top: 10px;
  color: #ce3b07;
  line-height: 1;
  cursor: pointer;
}
@media all and (max-width: 640px) {
  .header .icons .search-box .close {
    top: -30px;
    right: 10px;
  }
  .header .icons .search-box .close:after {
    display: inline-block;
    content: "Tap to Close";
    font-size: 13px;
    font-size: 1.3rem;
    margin-left: 3px;
    text-transform: uppercase;
  }
}
.header .icons.show-search .round-btn.toggleSearch {
  opacity: 0;
}
.header .icons.show-search .search-box {
  opacity: 1;
  z-index: 200;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media all and (min-width: 800px) {
  .header .icons .toggleMenu {
    display: none;
  }
}
.subscribe {
  background-color: white;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}
.subscribe .row {
  position: relative;
}
.subscribe input {
  border: 0;
  border-radius: 0;
  background-color: #eeeeee;
}
.subscribe input:focus {
  border: 0;
}
.subscribe button {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'brandon_textbold';
  line-height: 18px;
  font-size: 12px;
  font-size: 1.2rem;
}
.subscribe button:hover {
  color: #ce3b07;
}
@media all and (min-width: 640px) {
  .subscribe p,
  .subscribe input {
    margin: 0;
    width: 50%;
  }
  .subscribe p {
    float: left;
    padding: 10px 0;
  }
  .subscribe input {
    float: right;
  }
  .subscribe button {
    position: absolute;
    top: -1px;
    right: -1px;
  }
  .subscribe.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
.content {
  margin-top: 30px;
}
.content .title {
  font-family: 'brandon_textbold';
  color: #ce3b07;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
}
.content .post {
  background: white;
  margin-bottom: 30px;
  max-width: 540px;
  color: #333333;
}
.content .post a {
  color: inherit;
}
.content .post .img-wrap img {
  width: 100%;
}
.content .post .details {
  padding: 20px;
}
.content .post .meta {
  color: #ce3b07;
  margin-bottom: 0;
  text-transform: uppercase;
}
.content .post ._timestamp {
  font-family: 'brandon_textbold';
}
.content .post ._title {
  font-family: 'brandon_textbold';
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 10px;
}
.content .post ._title:hover {
  color: #ff8c18;
}
.content .post.featured .meta {
  font-size: 12px;
  font-size: 1.2rem;
}
.content .post.featured ._title {
  font-size: 18px;
  font-size: 1.8rem;
}
.content .post.featured ._summary {
  font-size: 14px;
  font-size: 1.4rem;
}
.social {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-radius: 2px;
  padding: 0 20px;
  color: white;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.social.facebook {
  background-color: #3b5998;
}
.social.twitter {
  background-color: #4099ff;
}
.social i {
  margin-right: 10px;
}
.social .hidden {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  top: 0;
  background: #333333;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #333333;
  left: 0;
  display: none;
}
.social:hover .hidden {
  display: block;
}
.cat {
  padding: 10px 20px 20px;
  background-color: white;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.cat .title {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "brandon_text_regularregular", Arial, Helvetica, sans-serif;
  margin: 10px 0 5px 0;
  font-weight: normal;
}
.cat ._post {
  margin-top: 10px;
  border-top: solid 1px #f7f7f7;
  padding: 10px 0 0;
  display: inline-block;
  width: 100%;
}
.cat ._post .img-wrap {
  width: 50%;
  float: left;
}
.cat ._post .img-wrap img {
  max-width: 100%;
}
.cat ._post .details {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.cat ._post .details p {
  margin: 0;
}
.cat ._post .details a {
  color: #333333;
}
@media all and (max-width: 640px) {
  .cat ._post .details {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
