@font-face {
  font-family: 'Aller';
  src: url('files/Aller-Regular.eot');
  src: url('files/Aller-Regular.eot?#iefix') format('embedded-opentype'),
    url('files/Aller-Regular.woff') format('woff'),
    url('files/Aller-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('files/Aller-Bold.eot');
  src: url('files/Aller-Bold.eot?#iefix') format('embedded-opentype'),
    url('files/Aller-Bold.woff') format('woff'),
    url('files/Aller-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('files/Aller-Light.eot');
  src: url('files/Aller-Light.eot?#iefix') format('embedded-opentype'),
    url('files/Aller-Light.woff') format('woff'),
    url('files/Aller-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}