@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url(fonts/stylesheet.css);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #ECECEC;
  font-family: "Quattrocento Sans";
  color: #454545;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.disabled {
  opacity: 0.3;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gandhi_sansbold", "Quattrocento Sans";
  color: #454545;
}

ul {
  list-style: none;
}

@media all and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.4em;
  }
}

.menu, .menu_toggle {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 3px 0px rgba(0,0,0,0.2);
}

.menu_toggle {
  width: 50px;
  background: url(..images/menu_toggle.png) center center no-repeat #333;
  background-image: url(../images/menu_toggle.svg), none;
  background-size: 25px 25px;
}

.menu {
  display: none;
}

.slogo {
  width: 50px;
  height: 50px;
  margin: 0px;
  float: left;
}

.slogo img {
  width: 100%;
}

.menu ul {
  float: left;
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.menu ul li {
  background: #333;
  float: left;
  border-right: solid 1px #444;
  color: white;
}

.menu ul li a {  
  line-height: 50px;
  padding: 0 20px;
}

.loading {
  background: #333333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 99;
}

.loading h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 150px;
  font-size: 16px;
  text-transform: uppercase;
}

.center_text {
  text-align: center;
}

header {
  padding: 40px 0;
  border-bottom: solid 2px #e4e4e4;
  z-index: 2;
  position: relative;
  overflow: hidden;
  background: white;
}

.share-buttons { opacity: 0.5; }

.share-buttons:hover { opacity: 1; }

header a.share {
float: left;
margin-right: 5px;
font-size: 11px;
line-height: 1.28;
font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
white-space: nowrap;
}

header a.share span {
  background: #eceef5;
border-radius: 3px;
border: 1px solid #cad4e7;
cursor: pointer;
padding: 0px 5px 2px;
display: inline-block;
white-space: nowrap;
position: relative;
line-height: 1.28;
color: #3b5998;
}

header a.share i {
  background-image: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/tbhIfdAHjXE.png");
background-size: auto auto;
background-repeat: no-repeat;
display: inline-block;
height: 14px;
width: 14px;
position: relative;
top: 3px;
margin-right: 3px;
}

[id^=___plusone] { width:60px !important; }

.logo {
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.logo img {
  width: 50%;
}

.hero .large-8 {
  padding-right: 50px;
}

.floating-drum {
  position: absolute;
  left: 20%;
  bottom: -300px;
  width: 200px;
  height: 300px;
  background: url(../images/drum.jpg);
  z-index: -1;
}

.hero p {
  font-size: 16px;
  line-height: 1.2;
}

.hero h2 {
  color: #FF4444;
}


.read_more {
  display: inline-block;
  clear: both;
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px #1fd4b8;
  margin-top: 10px;
  color: #1fd4b8;
  font-size: 14px;
}

.read_more:hover {
  color: white;
  background: #1fd4b8;
}

.read_more:active {
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 2px 0 rgba(0,0,0,0.3);
}

/** Content **/

.content {
  padding: 30px 0 70px;
}

.viz-group {
  padding: 10px;
}

.viz_group_title {
  background: #ECECEC;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.viz_group_title:before {
  display: block;
  position: absolute;
  content: "";
  width: 200%;
  height: 1px;
  background: #C0C0C0;
  z-index: -1;
  top: 50%;
  left: -50%;
}

.viz {
  background: white;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.viz .viz_link {
  position: absolute;
  display: block;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.viz .img-wrap {
  background: white;
}

.viz img {
  width: 100%;
  opacity: 0.7
}

.viz:hover img {
  opacity: 1;
}

.viz .details {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(31, 212, 184, 0.7);
  padding: 30px 20px;
  margin: auto;
  clear: both;
  color: white;
  transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
}

.viz .title {
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
  display: block;
}

.viz .date {
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  display: block;
}

.viz:hover .description, .viz:hover .date {
  display: none;
}

.viz:hover .details {
  height: 50px;
  background: rgba(31, 212, 184, 1);
}

.footer {
  padding: 10px 20px;
  background: rgba(0,0,0,0.1);
}

.footer img {
  padding: 10px 0;
}

.footer ul {
  list-style: none;
  float: right;
  padding: 0;
}

.footer ul li {
  float: left;
  margin-right: 10px;
}

.footer a {
  color: #454545;
}

@media all and (max-width: 768px) {
  header .large-8 { padding: 0 10%; }
  .floating-drum { opacity: 0.2; bottom: auto; top: -100px; }
.viz_group_title:before { display: none;}
.footer ul { float: left; }
}