/** VIZUALIZATION STYLES **/

.loading {
  background: #333333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 99;
}

.loading h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  width: 150px;
  font-size: 16px;
  text-transform: uppercase;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.scene {
  background: #e61414;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  list-style: none;
}

.scene.two {
  right: 0;
  left: auto;
  background: url(../images/bgboko.jpg);
  background-size: cover;
}

.scene.single {
  width: 100%;
  left: 0;
}

.scene .layer {
  float: left;
  margin: 0 10px;
  display: block;
}

.scene .layer img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: border .1s linear;
  border: solid 4px transparent;
}

.scene:hover .layer img {
  border: solid 4px rgba(0, 0, 0, 0.4);
}

.scene .layer img:hover {
  border: solid 4px rgba(0, 0, 0, 0.7);
}

.scene .layer .description {
  position: absolute;
  left: 0;
  top: 110%;
  width: 500px;
  font-family: Vollkorn, serif;
  font-style: italic;
  color: white;
}

.scene .text_wrap {
  list-style: none;
  float: left;
  padding: 0;
  margin-top: 40px;
  clear: both;
  font: 100 62px/1 Lato;
  color: white;
  display: block;
}

.scene .text {
  position: relative;
}

.scene .text:nth-child(1) {
  opacity: 0.5;
}

.scene .text:nth-child(2) {
  opacity: 1;
}

.scene .text:nth-child(3) {
  opacity: 0.7;
}

.scene .text:nth-child(4) {
  opacity: 0.60;
}

.scene .text:nth-child(5) {
  opacity: 0.75;
}

.scene .text:hover .fullCount {
  display: block;
}

.scene .text:hover .shortCount {
  opacity: 0;
}

.fullCount {
  position: absolute;
  width: 500px;
  left: 0;
  top: 0;
  color: white;
  height: 70px;
  padding: 0px 10px;
  display: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 70px;
}

.view {
  color: white;
  font-size: 30px;
  display: inline-block;
  margin-top: 20px;
}

.scene .the_story {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  max-height: 100%;
  padding: 40px;
  padding-bottom: 0px;
  background: #eaeaea;
  font-family: Vollkorn, serif;
  font-style: italic;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
}

a {
  cursor: pointer;
}

.btn_primary {
  padding: 5px 12px;
  background: white;
  color: #777777;
  border-radius: 20px;
}

.scene .the_story p {
  font-size: 18px;
}

.scene .the_story .underlay {
  position: absolute;
  z-index: -1;
  color: #95f0cb;
  bottom: 0;
}

.scene .the_story .underlay h2 {
  font-family: "Playfair display";
  font-size: 200px;
  margin: 0;
  line-height: 1;
}

.close_story {
  display: inline-block;
}

.timeline {
  padding: 20px;
  list-style: none;
  border-left: solid 1px #5191fc;
}

.timeline li {
  padding-left: 10px;
  margin: 20px 0;
  font-size: 16px;
  color: #5191fc;
  position: relative;
}

.timeline li p {
  transition: all .1s linear;
  color: #454545;
}

.timeline li a {
  color: #5191fc;
}

.timeline li:before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eaeaea;
  border: solid 3px #5191fc;
}

.timeline li:hover:before {
  border-color: red;
}

.timeline li:hover p {
  font-size: 24px;
}

.timeline .date {
  display: block;
  margin-bottom: 10px;
  font: 100 13px/1 Lato;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
