@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Anaheim);

body {
	width: 100%;
  margin: 0;
  font-size: 1em;
  color: #333333;
  font-weight: normal;
  font-family: 'Anaheim', 'Anaheim', sans-serif;
  line-height: 100%;
   background: url(../images/bg.png) repeat; }

body.welcome { background:url(../images/bg1.jpg) no-repeat center fixed #000; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }	
	
.pointer { position: absolute; top: 0px; float: right; right: 0px; }


#wrap {
 	width: 100%;
	height: 100%;
  	position: absolute;
 	left: 0;
	padding: 0;
	 }

#dropcontain { width: 351px; height: auto; position: absolute; right: 0px;top: 0px; z-index: 55555;
	margin-top: 0px;}

#dropbox { 
	right: 0px;
	width: 350px;
	height: auto;	
	background: #0C0C0C;
	display: none;
	position: absolute;
	border-bottom: solid 3px #06C; }
	
#profile { width: 100%; height: 230px; }
#profile img { opacity: 0.1; filter: alpha(opacity=10); margin-bottom: 10px; }
#profile img:hover { opacity: 1; filter: alpha(opacity=100) }
#profile p { padding-left: 10px; margin-bottom: 4px; font-family: 'Anaheim', sans-serif; font-size: 14px; color: #999; }
	
.dropbtn {
	position: absolute;
	background-image: url(../images/controls.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 51px;
	height: 50px;
	display:block;
	z-index: 55588;
	top: 0px;
	right: 0px;
	}
	
.dropbtn.active {
	background-image: url(../images/controls.png);
	background-repeat: no-repeat;
	background-position: -51px 0px;
	width: 51px;
	height: 50px;
}

#dropbox h6 {
	height: 30px;
	width: 330px;
	display: block;
	padding: 20px 0px 0px 20px;
	background: rgba(0,0,0,1);
	font-size: 14px;
	color: #e0e4e7;
	float: left;
	clear: left;
	margin-bottom: 20px;
	font-weight: normal;
}

#dropbox form {
	margin: 50px 0 0 0;
	height: 250px;
}

#dropbox form input:focus, #dropbox form textarea:focus {
	outline: solid #999 1px;
}

#dropbox form input[type=text], #dropbox form input[type=email], #dropbox form textarea {
	width: 100%;
	height: 32px;
	background: rgba(0,0,0,0.9); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000'); /* IE */
	float: left;
	clear: left;
	color: #999;
	font-size: 13px;
	text-indent: 20px;
	border: none;
	font-family: 'Anaheim', sans-serif;
}

#dropbox form input[type=email], #dropbox form textarea {
	margin-top: 15px;
}
#dropbox form textarea {
	height: 78px;
	padding: 10px 0px 0px 0px;
	resize: none;
	width: 350px;
	font-family: 'Anaheim', sans-serif;
}
#dropbox form ::-webkit-input-placeholder, #dropbox form :-moz-placeholder {
    color: #1c1d1f;
	font-size: 12px;
	text-indent: 20px;
	font-family: 'Anaheim', sans-serif;
}

.dropsubmitbtn {
	float: right;
	clear: left;
	outline: none;
	border: none;
	background: none;
	color: #a9b0b5;
	text-shadow: 0px 1px 0px #000000;
	filter: dropshadow(color=#00000, offx=0, offy=1);
	font-size: 14px;
	font-family: 'Anaheim', 'Anaheim', sans-serif;
	outline: none;
	margin-right: 20px;
	margin-top: 13px;
	cursor: pointer;
}
.dropsubmitbtn:hover {
	color: #dcdfe6;
}

#navwrap, #contentwrap, #links, #content {
	display: block;
	overflow:hidden } 
  
#navwrap {
	position: fixed;
	left: 0;
	width: 166px;
	float: left;
	background: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
	height: 100%;
	 }

#contentwrap { 
	display: block;
    max-height: 100%;
	margin: 0 0 0 -166px; }

#image, #image.portfolio {
	width: 166px;
	height: 500px;
	
	 }
	
#image:hover {
 	 }

#links {
	position: fixed;
	width: 166px;
	height: 250px;
	left: 0;
	bottom: 0; }

#links ul.nav { 
	padding: 50px 15px; }

#links ul.nav li {
	padding-bottom: 20px; }
		
#links ul.nav li a{
	color: #FFF;
	font-size: 24px;
	text-decoration: none; }
	
#links ul.nav li a.active, #links ul.nav li a.active:hover {
	color: #09f; }

#links ul.nav li a.active.portfolio { color: #d01d1d }

#links ul.nav li a:hover {
	color: #666 }
	
#content {
	display: none;
	position: absolute;
	width: 800px;
	height: 550px;
	left: 50%;
	top: 50%;
	margin: -275px 0 0 -317px; }

#content.welcome { width: 900px }

#contentimg {
	display: block;
	width: 800px;
	height: 350px;
	background: url(../images/imgbg.jpg); }
	
#contentimg.welcome { height: 110px; background: none; }

#contentimg h5 { 
	font-weight: normal;
	position: absolute;
	bottom: 0px;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 200px;
	padding: 20px;
	COLOR: #fff; }
#contentimg h6 { 
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	padding: 20px }
	
#box{
	display: block;
	float: left;
	overflow: hidden;
	width: 200px;
	height: 200px;
	float: left;
	-webkit-transition:background-position 0.6s ease;
	-moz-transition:background-position 0.6s ease;
	-o-transition:background-position 0.6s ease;
	transition:background-position 0.6s ease;
	cursor: pointer; }

#box.social { background: url(../images/social.png); width: 50px; height: 50px;}

#box.welcome { width: 250px; height: 550px; background: rgba(0, 0, 0, 0.7); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */ margin-right: 20px; border-bottom-left-radius: 30px; }

.message { position: relative; top: 30px }

#box.welcome h1 { padding: 20px; font-size: 24px; font-weight: normal; color: #09F }

#box.welcome p { padding: 20px; font-size: 14px; font-weight: normal; color:#CCC }
	
#box.portfolio { background-image: url(../images/sprite2.jpg); }

#box.social.behance {
	background-position: 0 0; }
#box.social.behance:hover {
	background-position: 0 -50px; }
#box.social.facebook {
	background-position: -50px 0px; }
#box.social.facebook:hover {
	background-position: -50px -50px; }
#box.social.google {
	background-position: -100px 0px; }
#box.social.google:hover {
	background-position: -100px -50px; }
#box.social.linked {
	background-position: -150px 0px; }
#box.social.linked:hover {
	background-position: -150px -50px; }
#box.social.skype {
	background-position: -200px 0; }
#box.social.skype:hover {
	background-position: -200px -50px; }
#box.social.twitter {
	background-position: -250px 0px; }
#box.social.twitter:hover {
	background-position: -250px -50px; }
#box.social.vimeo {
	background-position: -300px 0px; }
#box.social.vimeo:hover {
	background-position: -300px -50px; }

	
.psd {
	background-position: 0 0; }
.psd:hover {
	background-position: -200px 0; }
.cdr {
	background-position: -400px 0px; }
.cdr:hover {
	background-position: -600px 0; }
.c4d {
	background-position: -800px 0px; }
.c4d:hover {
	background-position: -1000px 0; }
.css {
	background-position: -1200px 0px; }
.css:hover {
	background-position: -1400px 0; }
	
.print {
	background-position: 0 0; }
.print:hover {
	background-position: 0 -200px; }
.brand {
	background-position: -200px 0px; }
.brand:hover {
	background-position: -200px -200px; }
.web {
	background-position: -400px 0px; }
.web:hover {
	background-position: -400px -200px; }
.mobile {
	background-position: -600px 0px; }
.mobile:hover {
	background-position: -600px -200px; }
	

#portfolioimg {
	display: block;
	width: 800px;
	height: 150px;
	background: url('../images/port.png') no-repeat;
	background-position: bottom; }

#portfolioimg a{
	display: block;
	margin-left: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	width: 700px;
	color: #666;
	background: #000000;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	line-height: 100px; }

#portfolioimg a:hover { color: #ccc }
	
.portfoliohover {
	width: 200px;
	height: 50px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	background-color: rgba(5, 3, 12, 0.9);
	background: rgba(5, 3, 12, 0.9);
	-webkit-transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-o-transition: opacity .5s ease-in-out;
 	 transition: opacity .5s ease-in-out;
}

	
#stage li{
	position: relative;
	display: block;
	float: left;
	width: 200px;
	height: 200px;
	overflow: hidden;
	background: #000; }
	
.links a { color: white; display: block; margin-bottom:7px; text-decoration: none; }
	
	
#stage li a:hover .portfoliohover {
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-o-transition: opacity .5s ease-in-out;
 	 transition: opacity .5s ease-in-out;
}
.porthover1 {
	font-family: 'Anaheim', 'Anaheim', sans-serif;
	color:#FFF;
	font-size: 14px;
	float: left;
	clear: both;
	margin: 10px 10px 0px 10px;
}

.porthover2 {
	font-family: 'Segoe UI';
	font-size: 11px;
	color: #FFF;
	float: left;
	clear: both;
	margin: 0px 10px;
}


p.lead {
	font-size: 24px;
	line-height: 1.2; 
	margin: 20px 0;
	color: #d01d1d; }