---
import team from "@data/team.json";
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
//Data
import opemipo from "@images/team/opemipo.png"
import nneoma from "@images/team/nneoma.png"
import williams from "@images/team/williams.png"
import agnes from "@images/team/agnes.png"
import tomiwa from "@images/team/tomiwa.png"
import experiments from "@data/manifestoLinks.json";

const teamImages = {
	"opemipo": opemipo,
	"nneoma": nneoma,
	"williams": williams,
	"agnes": agnes,
	"tomiwa": tomiwa,
}

const teamMemberData = team.reduce((acc, teamMember, index) => {
	return {
		...acc,
		[teamMember.id]: {
			...teamMember,
			image: teamImages[teamMember.id],
		}
	}
}, {})

---

<Layout>
	<main>
		<PageHeader>
			<h1>A studio for passion projects.</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>The name <i>wuruwuru</i> is from the Nigerian expression “wuwuruwu to the answer” which describes a problem solved haphazardly.</p>
					</section>
					<section>
						<h4 class="c-section-title" style="margin-bottom: 50px"></h4>
						<ul class="c-section" style="display: grid; gap: 20px">
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://www.theguardian.com/artanddesign/gallery/2024/feb/17/seventy-years-of-nigerian-album-covers-in-pictures" target="_blank">
									Seventy years of Nigerian album covers – in pictures
								</a>
								<div><small>The Observer - Feb 2024</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://www.itsnicethat.com/features/wuruwuru-album-cover-bank-graphic-design-art-spotlight-220124" target="_blank">
									Album Cover Bank traces over 70 years of Nigeria’s album design and visual culture
								</a>
								<div><small>It's Nice That - Jan 2024</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://animationobsessive.substack.com/i/139631220/making-an-animated-film-in-nigeria" target="_blank">
									Hanky Panky - Making an animated film in Nigeria
								</a>
								<div><small>Animation Obsessive - December 2023</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://contemporaryand.com/magazines/yadichinma-ukoha-kalu-explains-how-ludo-became-an-exciting-artwork/" target="_blank">
									Yadichinma Ukoha-Kalu Explains How Ludo Became an Exciting Artwork
								</a>
								<div><small>Contemporary And - August 2023</small></div>
							</li>
						</ul>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--9 l-grid__column--4">
					<div class="c-team">
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/746436734?h=dda10a5de6&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
