---
import team from "@data/team.json";
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
//Data
import opemipo from "@images/team/opemipo.png"
import nneoma from "@images/team/nneoma.png"
import williams from "@images/team/williams.png"
import agnes from "@images/team/agnes.png"
import tomiwa from "@images/team/tomiwa.png"
import experiments from "@data/manifestoLinks.json";

const teamImages = {
	"opemipo": opemipo,
	"nneoma": nneoma,
	"williams": williams,
	"agnes": agnes,
	"tomiwa": tomiwa,
}

const teamMemberData = team.reduce((acc, teamMember, index) => {
	return {
		...acc,
		[teamMember.id]: {
			...teamMember,
			image: teamImages[teamMember.id],
		}
	}
}, {})

---

<Layout>
	<main>
		<PageHeader>
			<h1>A support system for the arts</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>There's very little institutional support for the arts in Nigeria. A lot of talented people have great ideas but can't afford to bring them to life.</p>
						<p>Independent Arts is a network of people, ideas, and resources to keep our most precious dreams alive. We started in 2021 as a community studio for passion projects, and now we're building a distributed platform for creators.</p>
						<p>We contribute in four ways:</p>
						<ul>
							<li>1. We fund creative projects to nurture emerging talent</li>
							<li>2. We connect practicing artists to people and ideas</li>
							<li>3. We create platforms to document new culture</li>
							<li>4. We produce events to celebrate excellent work</li>
						</ul>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--9 l-grid__column--4">
					<ul class="c-section" style="display: grid; gap: 20px">
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://www.theguardian.com/artanddesign/gallery/2024/feb/17/seventy-years-of-nigerian-album-covers-in-pictures" target="_blank">
									Seventy years of Nigerian album covers – in pictures
								</a>
								<div><small>The Observer - Feb 2024</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://www.itsnicethat.com/features/wuruwuru-album-cover-bank-graphic-design-art-spotlight-220124" target="_blank">
									Album Cover Bank traces over 70 years of Nigeria’s album design and visual culture
								</a>
								<div><small>It's Nice That - Jan 2024</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://animationobsessive.substack.com/i/139631220/making-an-animated-film-in-nigeria" target="_blank">
									Hanky Panky - Making an animated film in Nigeria
								</a>
								<div><small>Animation Obsessive - December 2023</small></div>
							</li>
							<li class="l-grid__column--3">
								<a class="c-link c-link--out" href="https://contemporaryand.com/magazines/yadichinma-ukoha-kalu-explains-how-ludo-became-an-exciting-artwork/" target="_blank">
									Yadichinma Ukoha-Kalu Explains How Ludo Became an Exciting Artwork
								</a>
								<div><small>Contemporary And - August 2023</small></div>
							</li>
						</ul>
				</aside>
			</div>
		</section>
	</main>
</Layout>
