---
import team from "@data/team.json";
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
//Data
import opemipo from "@images/team/opemipo.png"
import nneoma from "@images/team/nneoma.png"
import williams from "@images/team/williams.png"
import agnes from "@images/team/agnes.png"
import tomiwa from "@images/team/tomiwa.png"
import experiments from "@data/manifestoLinks.json";

const teamImages = {
	"opemipo": opemipo,
	"nneoma": nneoma,
	"williams": williams,
	"agnes": agnes,
	"tomiwa": tomiwa,
}

const teamMemberData = team.reduce((acc, teamMember, index) => {
	return {
		...acc,
		[teamMember.id]: {
			...teamMember,
			image: teamImages[teamMember.id],
		}
	}
}, {})

---

<Layout>
	<main>
		<PageHeader>
			<h1>Independent art from Nigeria.</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<p><i>wuruwuru</i> is a collective from Lagos, Nigeria. We work with independent creators to produce and distribute passion projects globally.</p>
					<p>In three years, we've produced an online comic, two animated short films, a collectible board game, a digital archive and an online book. We've worked with over 45 creators and paid out close to $100k in commissions.</p>
					<p>The name <i>wuruwuru</i> is from the Nigerian expression <i>wuruwuru to the answer</i> which describes a problem solved haphazardly. It alludes to how we get things done in Nigeria without institutional support.</p>
					<p>I started out in 2020 looking to make a magazine but then veered into a handful of odd publishing experiments. In making these projects, I got to meet a lot of interesting people and was inspired to help bring their ideas to life.</p>
					<p><i>wuruwuru</i> exists to promote excellent cultural production and support independent artists. To do this, we're currently developing a business model.</p>
					<p><strong><a class="c-link c-link--out" href="https://opemipo.com">Opemipo</a></strong></p>
				</div>
				<aside class="c-section__right l-grid__column-start--9 l-grid__column--4">
					<div class="c-team">
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/746436734?h=dda10a5de6&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
