---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";

---

<Layout pageTitle="wuruwuru" pageUrl="https://wuruwuru.com"
    pageImage="https://wuruwuru.com/assets/images/thumbnail.png">
    <main>
        <PageHeader />
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";
</style>