---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";

---

<Layout>
    <main>
        <PageHeader />
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";
</style>