---
//Layout
import Layout from "@layout/Default.astro"

//Styling
import "@styles/index.css"

//Scripts
// import Dots from "@components/DotsCursor.astro";

//Data
import projects from "@data/projects.json"
---
<Layout
	bodyClassName="checkered"
	pageTitle="Wuruwuru"
	pageUrl="https://wuruwuru.com"
	pageImage="https://wuruwuru.com/assets/images/thumbnail.png"
>
		<header>
			<h1 class="wordmark" id="wordmark">Wuruwuru</h1>
		</header>
		<main>
			<div class="list" id="list">
			</div>
		</main>
</Layout>

<style>
.wordmark-text {
  font-size: 0.8em;
  font-family: 'Soehne Schmal', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
</style>
