---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";

---

<Layout>
    <main>
        <PageHeader>
            <h1>
                A playground for interesting ideas.
            </h1>
        </PageHeader>
        <section class="l-container">
			<h4 class="c-section-title">Featured</h4>
            <ul class="c-section l-grid">
                <li class="l-grid__column--3">
                    <a href="https://afeelgoodbook.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/feelgood.jpg`} alt="Cover image for Feel Good" /> Feel Good
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://albumcoverbank.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/coverbank.jpg`} alt="Cover image for Cover Bank" /> Cover Bank
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://hankypankyfilm.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/hankypanky.jpg`} alt="Cover image for Hanky Panky" /> Hanky Panky
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://ludobyyadi.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/ludo.jpg`} alt="Cover image for LUDO by Yadi" /> LUDO
                    </a>
                </li>
            </ul>
        </section>
        <section class="l-container" style="margin-top: 30px">
			<h4 class="c-section-title">Press</h4>
            <ul class="c-section">
                <li class="l-grid__column--3">
                    <a class="c-link c-link--out" href="https://contemporaryand.com/magazines/yadichinma-ukoha-kalu-explains-how-ludo-became-an-exciting-artwork/" target="_blank">
                        Yadichinma Ukoha-Kalu Explains How Ludo Became an Exciting Artwork
                    </a>
                    <div><small>Contemporary And</small></div>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";

    main {
        animation: fadeIn linear 0.3s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    h4.c-section-title {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 20px;
    }
</style>
