---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";

---

<Layout>
    <main>
        <PageHeader>
            <h1>
                A playground for interesting ideas.
            </h1>
        </PageHeader>
        <section class="l-container">
			<h4 class="c-section-title">Start Here</h4>
            <ul class="c-section l-grid">
                <li class="l-grid__column--3">
                    <a href="/screening" class="button">
                        <img src="/assets/images/shapes/triangle.png" /> Hanky Panky Screening
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="/projects" class="button">
                        <img src="/assets/images/shapes/star.png" /> Browse projects
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="/creators" class="button">
                        <img src="/assets/images/shapes/circle.png" /> Browse creators
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://medium.com/wuruwuru" target="_blank" class="button">
                        <img src="/assets/images/shapes/square.png" /> Read journal
                    </a>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";

    main {
        animation: fadeIn linear 0.3s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    h4.c-section-title {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 20px;
    }
</style>
