---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
import HomeSlider from "@components/HomeSlider.astro";

---

<Layout>
    <main>
        <PageHeader>
            <h1>
                <span class="wrwr">wuruwuru</span> is a publishing experiment. Our first collection includes an Instagram comic, an animated short film, a web series, a board game, databases and a book.
            </h1>
        </PageHeader>
        <HomeSlider />
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";
</style>