---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";

---

<Layout>
    <main>
        <PageHeader>
            <h1>
                A playground for interesting ideas.
            </h1>
        </PageHeader>
        <section class="l-container">
			<h4 class="c-section-title">Pinned</h4>
            <ul class="c-section l-grid">
                <li class="l-grid__column--3">
                    <a href="https://afeelgoodbook.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/feelgood.jpg`} alt="Cover image for Feel Good" /> Feel Good
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://www.youtube.com/watch?v=ZcKZ_LJwurw" target="_blank" class="button">
                        <img src={`/assets/images/projects/hankypanky.jpg`} alt="Cover image for Hanky Panky" /> Hanky Panky
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="https://albumcoverbank.com" target="_blank" class="button">
                        <img src={`/assets/images/projects/coverbank.jpg`} alt="Cover image for Cover Bank" /> Cover Bank
                    </a>
                </li>
                <li class="l-grid__column--3">
                    <a href="/manifesto" class="button">
                        <img src="/assets/images/shapes/circle.png" /> Manifesto
                    </a>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";

    main {
        animation: fadeIn linear 0.3s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    h4.c-section-title {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 20px;
    }
</style>
