---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--3">
			<h1>Manifesto</h1>
			<p><span class="wrwr">wuruwuru</span> is a Nigerian word that means "crooked". In the phrase "wuruwuru to the answer", it describes a haphazard approach to getting things done. In this context, it refers to the chaotic process of making things in a city like Lagos with little institutional support.</p>
			<p>The project started in November 2020 as an attempt to make a magazine, but then veered into a handful of odd experiments and eventually, a publishing company.</p>
			<p>Now, I describe wuruwuru as an internet-based community studio from Nigeria. Seven people volunteer from Lagos, Abuja and Canada, and we're currently working on a new collection of projects and collaborations. Longer term, we're aiming for sustainability in three steps:</p>
			<h4 class="c-section-title">1. Production</h4>
			<p>By making things we get to meet people, understand the creative industry and build capacity to help others.</p>
			<p>We hire independent creators for each project and work remotely using Basecamp, Notion and WhatsApp.</p>
			<p>So far we've produced an Instagram comic, two animated short films, a physical board game and two events.</p>
			<h4 class="c-section-title">2. Editorial</h4>
			<p>If a community-funded, volunteer-run support system for indie creators is to exist, we need people.</p>
			<p>Production and consultancy brings us close to peers, but publishing is how we attract a global audience of enthusiasts and patrons.</p>
			<p>For our second act, the studio will promote the ideas, projects and people we've experienced so far as a tool to attract a global audience.</p>
			<h4 class="c-section-title">3. Patrons</h4>
			<p>Hopefully, we find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> in this audience.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
