---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1>Manifesto</h1>
			<h4 class="c-section-title">Thesis</h4>
			<ol>
				<li>A lot of talented artists and directors in Nigeria have great ideas but no time, money or support to bring them to life.</li>
				<li>There’s little or no institutional structure for passion projects with high cultural value. Most of our production is commercial because that's where the money is.</li>
				<li>There’s a global audience for well-made Nigerian products. Thanks to migration, the Internet, and the music industry, there’s a huge demand for Nigerian culture in the world.</li>
				<li>If we make spirited things and move the right people, we can crowdfund enough money to run the studio.</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>By making things we come to understand the industry and build capacity to help others. We'll keep the team small and hire consultants for each project. We'll work remotely and operate like a software company.</p>
			<h4 class="c-section-title">Distribution</h4>
			<p>With intentional marketing and consistent publishing, we can attract a global audience of enthusiasts. If this community-funded, volunteer-run support system for independent creators is to exist, we need a lot of people to know about it.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>Hopefully, we find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 true fans</a> in this audience to be consistent patrons. We also hope raise money through grants and product sales.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	li {
		margin-bottom: 10px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
