---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1><i>Manifesto</i></h1>
			<p>The name <span class="wrwr">wuruwuru</span> describes the process of making things in Nigeria - crooked, haphazard, random, but also full of brilliance and ingenuity.</p>
			<p>This project is living proof - it started as an attempt to make a magazine, but then veered into an Instagram comic, an animated short, and now a handful of odd publishing experiments.</p>
			<p>On the surface the goal is to play, but beneath that there's a deeper vision. The big idea is to create a support system for independent creators to also be able to experiment like this.</p>
			<p>We want to make cool things and support other people to make cool things too. And our plan to achieve this is to:</p>
			<ol>
				<li>Produce some projects</li>
				<li>Create a platform</li>
				<li>Build a paying audience</li>
				<li>Support other creators</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>First, we're making what we want to see in the world. And for all the reasons: to play, to meet people, to document, to learn. Making will help us build the network and know-how to be able to help others.</p>
			<p>Our first collection of projects includes an Instagram comic, some databases, an animated short, a web series, a board game, and a book.</p>
			<p>With each project, the goal is to create a new type of story, build a community of makers, and create useful documentation.</p>
			<p>We're looking to publish all six projects by February 2023.</p>
			<h4 class="c-section-title">Audience</h4>
			<p>Next, we'll try to build a global audience. We'll start with the people who come for our projects, and publish more written and video content on a regular schedule to build that audience. We'll also syndicate to reach as many people as possible.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>Although the studio is currently self-funded, the long-term plan for sustainability is to crowdfund operations.</p>
			<p>We believe it can work because the stars are aligned. Thanks to music, Nigeria has the attention of the world. Thanks to technology, it's never been easier to move money internationally. And social media distribution for independent creators keeps getting better.</p>
			<p>Hopefully, we can get <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from our audience to commit some money to indie creators every year.</p>
			<h4 class="c-section-title">Support</h4>
			<p>If this all works, we can then support creators by designing and funding programs in established institutions. Partners will provide space and operations, which will keep our overhead low.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		@include screen('small') {
			grid-template-columns: 1fr;
		}
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
