---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1><i>Manifesto</i></h1>
			<p><span class="wrwr">wuruwuru</span> means crooked.</p>
			<p>The project started out as an attempt to make a magazine, but then veered into an Instagram comic, an animated short film, and now a handful of experimental visual stories.</p>
			<p>The big idea is to create a support system for independent creators to be able to experiment like this. We want to help artists and directors produce personal projects with high cultural value.</p>
			<p>We're thinking about it like this:</p>
			<ol>
				<li>Produce some projects</li>
				<li>Create a platform</li>
				<li>Build a paying audience</li>
				<li>Support other creators</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>Making things will help us understand how to help other creators. Our first collection of projects includes an Instagram comic, some databases, an animated short, a web series, a board game, and a book.</p>
			<p>With each project, the goal is to create a new type of story, build a community of makers, and create useful documentation.</p>
			<p>We're looking to publish all six projects by February 2023.</p>
			<h4 class="c-section-title">Platform</h4>
			<p>Next, we can use our content to kickstart a publishing platform e.g. a physical magazine or an online publication.</p>
			<p>Thanks to music and technology, Nigeria has a lot of attention. With this platform, niche storytelling, high quality visual content and social media, we can build a global audience.</p>
			<h4 class="c-section-title">Audience</h4>
			<p>We can try to get <a href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from our audience to commit some money to indie creators every year.</p>
			<h4 class="c-section-title">Support</h4>
			<p>We can then design and fund programs in established institutions to support creators. Our partners will provide space, people and operations, which keeps our overhead low.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		@include screen('small') {
			grid-template-columns: 1fr;
		}
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>