---
import Layout from "@layout/Default.astro";
import TwitterIframe from "@components/TwitterIframe.astro";

const seo = {
	pageTitle: "wuruwuru Mag | Manifesto",
	pageImage: "https://wuruwuru.com/assets/images/thumbnail.png"
}

---

<Layout {...seo}>
	<main class="l-container l-grid">
		<header class="l-grid__column--6">
			<h1>Manifesto</h1>
			<p>wuruwuru is an exploration into the world of independent creation in Nigeria. The experiment started in
				Nov
				2020 and the first phase will end in Feb 2023.</p>

			<p>The long-term goal is to build a community-funded support system for creators including a network of
				peers,
				spaces for direction and feedback, accessible tools, documentation and funding. But this is a far-flung
				vision
				with no clear roadmap.</p>

			<p>The immediate goal is to make some Really Cool stuff and document as much about the people and process
				for
				other independent creators.</p>

			<p>We’re looking to answer these questions:</p>
		</header>
		<section class="c-manifesto__list-wrap l-grid__column--6">
			<ol class="c-manifesto__list ">
				<li id="cool-things-things-in-nigeria">
					<h2>How do we make really cool things in Nigeria?</h2>
					<div class="c-manifesto__list-body">
						<p>
							wuruwuru started out as an experiment to make a magazine, but after struggling to find a
							voice for the
							publication, we decided to make other things: an animated short, some databases, a comic, a
							book, and a
							Ludo board. </p>
						<p>
							The motivation for each project is to try something new, do a great job of it, get creators
							paid, publish
							globally on the internet and document the process for others. </p>
						<p>
							Slowly it has evolved into a small community for creators to play, learn, exchange ideas and
							create
							high-quality art and documentation without the pressure of making money.
						</p>
					</div>
				</li>
				<li id="direct-teams-remotely">
					<h2>How do we best direct teams of creators remotely?</h2>
					<div class="c-manifesto__list-body">
						<TwitterIframe client:idle>
							<blockquote class="twitter-tweet" data-dnt="true">
								<p lang="en" dir="ltr">Hi! I&#39;m looking to hire an editor for <a
										href="https://twitter.com/wuruwurumag?ref_src=twsrc%5Etfw">@wuruwurumag</a>.
									Everything you need to
									know
									is in this thread. <a href="https://t.co/XSu9k373eo">pic.twitter.com/XSu9k373eo</a>
								</p>&mdash; Opemipo
								(@fathermerry) <a
									href="https://twitter.com/fathermerry/status/1466114765902725129?ref_src=twsrc%5Etfw">December
									1, 2021</a>
							</blockquote>
						</TwitterIframe>
						<p>
							In the first year, wuruwuru was a one-man operation. I had help from two interns, but they
							still had a lot
							to learn. Most creators were also unfamiliar with remote work, so it was a struggle to get
							commitment,
							clear communication or timely delivery.</p>
						<p>
							The second year, I expanded the project into a studio and hired an operations team including
							a manager and
							three assistants (design, editorial and content). Together we spent the first couple of
							months building
							camaraderie and work ethics.</p>
						<p>
							To be successful as a remote team, we had to learn how to set expectations, communicate
							progress, deliver
							outcomes and continuously improve. We chose to use Scrum as our operating principle,
							inspired by agile
							software development processes.</p>
					</div>
				</li>
				<li id="our-goal">
					<h2>What are we looking to achieve?</h2>
					<div class="c-manifesto__list-body">
						<p>
							The short-term goal is to create documentation. By February, we’d have created one more
							Nigerian comic,
							one
							more animated short film, one more indie book and a bunch of really cool stories with
							well-organised,
							public
							documentation for doing something similar.
						</p>
						<p>
							We’d also have published clean, tagged datasets on album cover art, comics, the animation
							industry,
							independent publishers and streetwear brands in Nigeria.
						</p>
						<p>
							The project is self-funded until February 2023, and although two of the experiments (Feel
							Good & Ludo)
							will
							be for sale, the goal is not to make a profit.
						</p>
					</div>
				</li>
				<li id="community">
					<h2>How do we create community?</h2>
					<div class="c-manifesto__list-body">
						<p>
							There are 40+ Really Cool people working on wuruwuru projects, and that’s a network of
							knowledge and good
							advice, but how do we bring it to life? What can people learn from each other? What should
							people be
							sharing?
						</p>
						<p>
							How do we create a sense of connection and unity considering most of us have never met in
							person? Many
							people are leaving the country. Where does this fit into that? Should we try keeping the
							community going
							after a project is done?.</p>
					</div>
				</li>
				<li id="global-audience">
					<h2>How do we build a global audience?</h2>
					<div class="c-manifesto__list-body">
						<p>
							”Next, there’s the misguided hope that simply creating a piece of content (no matter how
							valuable or
							awesome it might be) and doing the absolute bare minimum to promote it will result in true
							fans flocking
							to your website. This is the part of Schaefer’s argument that loses me entirely. And it’s
							the part that
							poses a substantial risk to would-be authors.”</p>
						<p>
							Is there really an audience for this? Have we done enough? How do we get the word out?
							What’s our tone of
							voice? Can we be consistent with social media publishing? How do we attract people outside
							our friend
							networks? Why does any of this matter? Who should be paying attention? How do we reach them?
						</p>
					</div>
				</li>
				<li id="kickstarter-program">
					<h2>What makes a successful kickstarter campaign?</h2>
					<div class="c-manifesto__list-body">
						<p>
							Assuming we have a Really Cool project, good enough marketing to attract a global audience,
							good
							international payments rails and a good logistics provider, can we design and run a
							successful Kickstarter
							campaign from Lagos?</p>
					</div>
				</li>
				<li id="kickstarter-program">
					<h2>Can we find 100 True fans?</h2>
					<div class="c-manifesto__list-body">
						<p>
							“Rather than viewing one’s fans as a uniform group, the 100 True Fans model calls on
							creators to
							distinguish between various subsegments based on affinity and willingness to pay. The
							relationship
							super-fans have with creators is different from regular fans: they become disciples,
							protégés,
							co-learners, and co-creators. As such, they require a whole new set of tools and platforms.
						</p>
						<p>
							The key to monetizing at $1,000 per fan, per year is tailored offerings priced at tiered
							levels. A creator
							might have a broad follower base on free social platforms, convert some of those followers
							to one-time
							purchasers or patrons, then uplevel some of those users to high-paying super-fans. For
							founders and
							operators, that means building products that align monetization with the end user value.”
						</p>
					</div>
				</li>
			</ol>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		@include screen('small') {
			grid-template-columns: 1fr;
		}
	}

	h2 {
		font-size: 2.4rem;
		color: var(--color-dark-grey);
		margin-bottom: 1.6rem;
		opacity: 0.6;
		position: relative;
		cursor: pointer;

		&:hover::after {
			display: unset;
			animation: underline-flash .3s 5 alternate;
		}

		&::after {
			content: "#";
			display: block;
			transform: translateX(calc(-100% - .3rem));
			font-size: inherit;
			position: absolute;
			top: 0;
			left: 0;
			color: red;
			opacity: 0;

			@keyframes underline-flash {

				0%,
				100% {
					opacity: 0;
				}

				80% {
					opacity: 1;
				}
			}

		}
	}

	header {
		padding: calc(var(--spacer-base) * 0.75) 0 calc(var(--spacer-base) * 1.125);
		margin-bottom: 2.1rem;
		padding-bottom: 0;

		h1 {
			font-size: 3.2rem;
			margin-bottom: calc(var(--spacer-base) / 1.6);
		}

		p {
			margin-bottom: 0;
		}
	}

	main {
		font-size: 2.1rem;
		line-height: 1.2;
	}

	.c-manifesto {
		&__list {
			padding: 0;

			li+li {
				margin-top: 5.2rem;
				margin-block-start: 5.2rem;
			}
		}
	}
</style>