---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1>Manifesto</h1>
			<h4 class="c-section-title">2020: Thesis</h4>
			<ol>
				<li>A lot of talented people in Nigeria have great ideas but no money or support to bring them to life.</li>
				<li>There’s little or no institutional structure for passion projects with high cultural value.</li>
				<li>There’s a global audience for well-made Nigerian products thanks to migration, the Internet, and the music industry.</li>
				<li>If we make spirited things and move the right people, we can crowdfund money to run the studio.</li>
			</ol>
			<h4 class="c-section-title">2021: Production</h4>
			<p>By making projects of our own we'll build the capacity to help others. We'll keep the core team small and hire consultants per project. We'll work remotely and operate like a software company.</p>
			<h4 class="c-section-title">2023: Distribution</h4>
			<p>With intentional marketing and consistent publishing, we can attract a global audience of enthusiasts. We just need the right people to know about this.</p>
			<h4 class="c-section-title">2024: Funding</h4>
			<p>Eventually, we hope sustain the studio through grants and crowdfunding. Our plan is to strategically grow our audience to find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 true fans</a>.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	li {
		margin-bottom: 10px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
