---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1>Manifesto</h1>
			<h4 class="c-section-title">Thesis</h4>
			<ol>
				<li>A lot of talented artists and directors in Nigeria have great ideas for keystone projects but no time, money or support to bring them to life.</li>
				<li>There’s little or no institutional support for non-commercial projects with high cultural value. Most of our production is commercial because that's where the money is.</li>
				<li>There’s a global audience for well-made Nigerian products thanks to migration and the Internet. Thanks to the music industry, there’s a huge demand for Nigerian culture in the world.</li>
				<li>If we make spirited things and move the right audience, we can crowdfund enough to run the studio.</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>By making things we come to understand the industry and build capacity to help others. Keep the team small and hire consultants for each project. Work remotely and move like a software company.</p>
			<h4 class="c-section-title">Distribution</h4>
			<p>If this community-funded, volunteer-run support system for independent creators is to exist, we need way more people to know about it. With intentional marketing and consistent publishing, we can attract a global audience of enthusiasts.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>Hopefully, we find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 true fans</a> in this audience to be consistent patrons. We also hope raise money through grants and product sales.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
