---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--6">
			<h1>Manifesto</h1>
			<p><span class="wrwr">wuruwuru</span> is a Nigerian word that broadly means "haphazard". In this context, it refers to the process of making things with no institutional support.</p>
			<p>It started in November 2020 as an attempt to make a magazine, but then veered into a handful of odd publishing experiments and a production studio.</p>
			<p>Today, we help friends of the studio make passion projects. In the process, we hope to build community and create useful documentation.</p>
			<p>Later, the goal is to create a community-funded, volunteer-run support system for independent creators.</p>
			<p>Here’s how this might play out:</p>
			<ul>
				<li>2020 - Produce some projects</li>
				<li>2022 - Experiment with distribution</li>
				<li>2023 - Build a paying audience</li>
				<li>202X - Launch a program</li>
			</ul>
			<h4 class="c-section-title">Production</h4>
			<p>We figure that making things is the best way understand the creative industry and learn how to get things done.</p>
			<p>For our first collection of projects, we've made an Instagram comic, an animated short film, the pilot for an animated web series, a physical Ludo board game and a website about album cover art. We've also curated six databases.</p>
			<p>To do this, we set up a production studio and work remotely using ideas from software development like Scrum. We hire independent teams for each project and direct using Basecamp, Notion and WhatsApp.</p>
			<p>The studio is registered as Helterskelter Publishing House.</p>
			<h4 class="c-section-title">Distribution</h4>
			<p>Although we've built a small following through word of mouth and the serendipity of the internet, we're still very early into distribution.</p>
			<p>Our go-to-market strategy is to build a local audience first and organically attract a broader audience with consistent publishing and curated editorial content. Every project has a unique plan, but this is the overaching approach.</p>
			<p>In 2023, we'll try to make this work. The internet has unlocked distribution for everyone and we're looking to explore what this means for local creators.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>The studio is currently bootstrapped, but the long-term plan is to crowdfund operations.</p>
			<p>We believe it can work because the stars are aligned. Thanks to music, Nigeria has the attention of the world, and thanks to technology, it has never been easier to move money internationally.</p>
			<p>Hopefully, we can get <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from our audience to commit some money to indie creators every year.</p>
			<h4 class="c-section-title">Programs</h4>
			<p>If it all works out, then we can support creators by designing and running programs with established institutions. By delegating space and facilitation to partners, we can also keep our overhead low.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
