---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1>Manifesto</h1>
			<p><span class="wrwr">wuruwuru</span> is a Nigerian word that broadly means "haphazard". In this context, it refers to the process of making things as an independent creator with no institutional support.</p>
			<p>The experiment started out in 2020 as attempt to make a magazine, but then veered into an Instagram comic, an animated short, and now a handful of odd publishing projects.</p>
			<p>With each project, we're learning about different creative industries, connecting talented people to work together, documenting the process of making things, and creating space for adult play.</p>
			<p>Short term, we’re hoping to make some really cool stories, build community and create much needed documentation for other independent creators.</p>
			<p>Long term, the goal is to support other people to make their cool ideas. Here’s how we’re thinking about it:</p>
			<ol>
				<li>Produce some projects</li>
				<li>Build an editorial platform</li>
				<li>Build a paying audience</li>
				<li>Support other creators</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>First, we're making some of our own ideas. Making will help us build the network and know-how to help others.</p>
			<p>Our first collection of projects includes an Instagram comic, some databases, an animated short, a web series, a board game, and a book.</p>
			<p>We're deep in production for most of these projects, and are looking to start publishing in December 2022.</p>
			<h4 class="c-section-title">Editorial</h4>
			<p>Next, we'll try to build a global audience through regular publishing and beautifully curated editorial content.</p>
			<p>It's a common saying that "the internet has unlocked distribution for everyone", so we're looking to explore and document that.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>The studio is self-funded for this first collection of projects, but the long-term plan is to crowdfund operations.</p>
			<p>We believe it can work because the stars are aligned. Thanks to music, Nigeria has the attention of the world. Thanks to technology, it's never been easier to move money internationally. And social media distribution for independent creators keeps getting better.</p>
			<p>Hopefully, we can get <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from our audience to commit some money to indie creators every year.</p>
			<h4 class="c-section-title">Support</h4>
			<p>If this all works, we can then support creators by designing programs with established institutions. Partners will provide physical space, which will help keep our overhead low.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
		@include screen('small') {
			grid-template-columns: 1fr;
		}
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
