---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--4">
			<h1>Manifesto</h1>
			<h4 class="c-section-title">2020: Thesis</h4>
			<p>A lot of talented people in Nigeria have great ideas but no money or support to bring them to life.</p>
			<p>There’s little or no institutional support for passion projects with high cultural value.</p>
			<p>There’s a global audience for well-made Nigerian products thanks to migration and the Internet.</p>
			<p>If we make spirited things and move the right people, we can raise money to run the studio.</p>
			<h4 class="c-section-title">2021: Production</h4>
			<p>By making projects of our own we'll build a network of collaborators and the capacity to help others.<p>
			<p>We'll operate like a lean software company - keep the core team small and hire a squad for each project.</p>
			<h4 class="c-section-title">2023: Distribution</h4>
			<p>With intentional marketing and consistent publishing, we can attract a global audience.</p>
			<h4 class="c-section-title">2024: Funding</h4>
			<p>In that audience, we can find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 true fans</a> to sustain the studio. We'll also apply for grants.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	li {
		margin-bottom: 10px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
