---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--6">
			<h1>Manifesto</h1>
			<p><span class="wrwr">wuruwuru</span> is a Nigerian word that broadly means "haphazard". In this context, it refers to the process of making things with no institutional support.</p>
			<p>We started the studio in 2020 to make a magazine, but then veered into a handful of odd publishing experiments. With each project, we learnt about different creative industries and built a growing network of makers.</p>
			<p>Short term, the goal is to help friends of the studio with their passion projects, and in the process build community and create useful documentation.</p>
			<p>Long term, the vision is to build a community-funded support system for the general public. Here’s how this might play out:</p>
			<ol>
				<li>Produce some projects</li>
				<li>Figure out distribution</li>
				<li>Build a paying audience</li>
				<li>Make it into a program</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>Early on, we figured that making things was the best way understand the industry and build the know-how to help other people.</p>
			<p>Our first collection of projects includes an Instagram comic, an animated short, a web series, a board game and some databases.</p>
			<p>To get this done, we built an operating team to direct creators using ideas borrowed from software development.</h4>
			<h4 class="c-section-title">Distribution</h4>
			<p>They say the internet has unlocked distribution for everyone, so we're looking to explore what this means for creators on the continent.</p>
			<p>With each project, we'll try to build a global audience with consistent publishing and carefully curated editorial content.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>The long-term plan for the studio to crowdfund operations.</p>
			<p>We believe it can work because the stars are aligned. Thanks to music, Nigeria has the attention of the world, and thanks to technology, it's never been easier to move money internationally.</p>
			<p>Hopefully, we can get <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from our audience to commit some money to indie creators every year.</p>
			<h4 class="c-section-title">Programs</h4>
			<p>If this all works, we can then support creators by designing programs with established institutions. Partners will provide space and facilitation to keep our overhead low.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
