---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--3">
			<h1>Manifesto</h1>
			<h4 class="c-section-title">Thesis</h4>
			<ol>
				<li>There are a lot of talented artists and directors in Nigeria/Africa with great stories and ideas but no space, time or money to produce and publish.</li>
				<li>There’s no institutional support for passion projects with high cultural value. A lot of our cultural production is commercial because that’s where the money is.</li>
				<li>There’s a global audience for these niche stories. Thanks to music, tech and migration, there’s an explosion of Nigerian culture in the world and on the internet.</li>
				<li>If we make really good stories and publish them to people globally, we can crowdfund money to run the studio.</li>
			</ol>
			<h4 class="c-section-title">Production</h4>
			<p>By making things we get to understand the creative industry and build capacity to help others. We hire independent creators for each project and work remotely using Basecamp, Notion and WhatsApp.</p>
			<h4 class="c-section-title">Distribution</h4>
			<p>If a community-funded, volunteer-run support system for indie creators is to exist, we need way more people to know about it. With quality projects and intentional marketing and press, we can attract a global audience of enthusiasts and patrons.</p>
			<h4 class="c-section-title">Funding</h4>
			<p>Hopefully, we find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 true Fans</a> in this audience to crowdfund studio operations. We also hope raise money through grants and product sales.</p>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
