---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--3">
			<h1>Manifesto</h1>
			<p><span class="wrwr">wuruwuru</span> is a Nigerian word that broadly means "haphazard". In this context, it refers to the process of making things with no institutional support.</p>
			<p>The project started in November 2020 as an attempt to make a magazine, but then veered into a handful of odd publishing experiments and eventually, a production studio.</p>
			<p>Broadly, we make passion projects for ourselves and friends. In the process, we hope to build community and create useful documentation.</p>
			<p>Ultimately, the goal is to set up a community-run support system for independent creators.</p>
			<p>Here’s how this might play out:</p>
			<ul>
				<li>2020 - Produce some projects</li>
				<li>2023 - Attract an audience</li>
				<li>202X - Find 100 True Fans</li>
				<li>202X - Launch support programs</li>
			</ul>
			<h4 class="c-section-title">Production</h4>
			<p>By making things, we get to meet people, understand the creative industry and build capacity to help others.</p>
			<p>Our first season of projects includes an Instagram comic, two animated short films, and a physical board game.</p>
			<p>We hire independent creators and direct work remotely using Basecamp, Notion and WhatsApp.</p>
			<h4 class="c-section-title">Editorial</h4>
			<p>If a community-funded, volunteer-run support system for indie creators is to exist, we need people.</p>
			<p>Production and consultancy gets us close to makers, but publishing is how we attract patrons at large.</p>
			<p>For our second act, the studio will produce high quality writing on ideas, things and people of interest.</p>
			<p>We also have a lot of research and documentation worth sharing.</p>
			<h4 class="c-section-title">Patrons</h4>
			<p>Hopefully, we find <a class="c-link c-link--out" href="https://future.com/1000-true-fans-try-100/" target="_blank">100 True Fans</a> from this audience willing to give money to indie creators.</p>
			<h4 class="c-section-title">Programs</h4>
			<p>With enough patrons, the studio can support indie creators by running programs with established institutions. And by delegating space and facilitation to partners, we can keep our operations simple.</P>
		</section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";

	.l-grid {
		grid-template-columns: repeat(9, 1fr);
	}

	section {
		margin-top: 60px;
	}

	ol {
		padding-left: 12px;
	}

	.c-section-title {
		margin-top: 60px;
	}
</style>
