---
//Components
import Layout from "@layout/Default.astro";
import ProjectCard from "@components/ProjectCard.astro";
import DatabaseCard from "@components/DatabaseCard.astro";
import NewsletterPreview from "@components/NewsletterPreview.astro";
import JournalPreview from "@components/JournalPreview.astro";

// Data
import projects from "@data/projects.json";
import journals from "@data/journal.json";
import newsletters from "@data/newsletters.json";
import databases from "@data/databases.json";

---

<Layout>
	<main>
		<section class="l-section l-section--padded">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--8">
					<ul class="c-project-list">
						{projects.map((p) => (
						<li class="c-project-list__item">
							<ProjectCard {...p} />
						</li>
						))}
					</ul>
				</div>
				<aside class="c-section__right l-grid__column-start--10 l-grid__column--3">
					<h4 class="c-section-title">Database</h4>
					<ul class="aside-list data">
						{databases.map((db) => (<li>
							<DatabaseCard {...db} />
						</li>))}
					</ul>
				</aside>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@import "../styles/mixins.scss";

	.l-section--padded {
		margin-top: var(--spacer-base);
	}

	.c-section-title {
		color: var(--color-dark-gray);

		@include screen('small') {
			top: 0;
			position: static;
		}
	}

	.data {
		a.cover-text {
			font-style: normal;

			&:hover {
				text-decoration: none;
			}
		}
	}


	.c-project-list,
	.aside-list {
		padding: var(--spacer-base) 0;
	}

	.c-project-list {
		padding-block-start: 0;
		padding-top: 0;
	}

	.c-project-list__item {
		&+& {
			margin-top: var(--spacer-base);
			margin-block-start: var(--spacer-base);
		}
	}

	.c-section__left,
	.c-section__right {
		@include screen('small') {
			grid-column: 1 / -1;
		}
	}

	.aside-list>*+* {
		margin-top: calc(var(--spacer-base) / 4);

		@include screen('small') {
			margin-top: calc(var(--spacer-base) / 8);
		}
	}

	.aside-list--md>*+* {
		margin-top: calc(var(--spacer-base) / 2);

		@include screen('small') {
			margin-top: calc(var(--spacer-base) / 4);
		}
	}

	.l-grid {
		@include screen('small') {
			grid-template-columns: 1fr;
		}
	}
</style>
