---
import Layout from "@layout/Default.astro";

---

<Layout>
	<main class="l-container l-grid">
		<section class="l-grid__column--6">
      <h3>Hanky Panky Screening</h3>
      <p></p>
    </section>
	</main>
</Layout>
<style lang="scss">
	@import "../styles/mixins.scss";
</style>
