@font-face {
    font-family: 'DinWeb';
    src: url('DINWebPro-Regular.eot');
    src: url('DINWebPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('DINWebPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinWeb';
    src: url('DINWebPro-Medium.eot');
    src: url('DINWebPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('DINWebPro-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DinWeb';
    src: url('DINWebPro-Bold.eot');
    src: url('DINWebPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('DINWebPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}