<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="disclaimer">
                    <p>This project is an independent project funded by SMILE and managed by CcHUB.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="sponsor">
                    <h4>project by</h4>
                    <img src="/assets/img/cchub.png" alt="" class="cchub">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="sponsor">
                    <h4>supported by</h4>
                    <img src="/assets/img/smile.png" alt="" class="smile">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 pull-right">
                <div class="footer-logs text-right" ng-show="log" log>                    
                    <h3 class="m-t-none m-b-xs">{{log.totalLogs}}</h3>
                    <p style="font-size: 13px">Logs submitted across {{log.totalCities}} cities in {{log.location}} since {{log.firstLogDay | date:"shortDate"}}</p>
                </div>
<!--                 <div class="footer-social-sharing">
                    <h4>follow us</h4>
                    <ul>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>