@font-face {
    font-family: 'Gotham';
    src: url('gotham-book.eot');
    src: url('gotham-book.eot?#iefix') format('embedded-opentype'),
         url('gotham-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gotham-light.eot');
    src: url('gotham-light.eot?#iefix') format('embedded-opentype'),
         url('gotham-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gotham-medium.eot');
    src: url('gotham-medium.eot?#iefix') format('embedded-opentype'),
         url('gotham-medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('2953B8_0_0.eot');
    src: url('2953B8_0_0.eot?#iefix') format('embedded-opentype'),
         url('2953B8_0_0.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}