.prototype:hover .stage {
	-webkit-animation: slide 9s ease infinite;
	-moz-animation: slide 9s ease infinite;
	-ms-animation: slide 9s ease infinite;
	-o-animation: slide 9s ease infinite;
	animation: slide 9s ease infinite;
}


@keyframes "slide" {
	0%,30%,100% {
	margin-left: 0;
}

33%,63% {
	margin-left: -100%;
}

66%,96% {
	margin-left: -200%;
}

}

@-moz-keyframes slide {
	0%,30%,100% {
	margin-left: 0;
}

33%,63% {
	margin-left: -100%;
}

66%,96% {
	margin-left: -200%;
}

}

@-webkit-keyframes "slide" {
	0%,30%,100% {
	margin-left: 0;
}

33%,63% {
	margin-left: -100%;
}

66%,96% {
	margin-left: -200%;
}

}

@-ms-keyframes "slide" {
	0%,30%,100% {
	margin-left: 0;
}

33%,63% {
	margin-left: -100%;
}

66%,96% {
	margin-left: -200%;
}

}

@-o-keyframes "slide" {
	0%,30%,100% {
	margin-left: 0;
}

33%,63% {
	margin-left: -100%;
}

66%,96% {
	margin-left: -200%;
}

}
