

body { font: 13px "Segoe UI", sans-serif; }
.container { width: 810px; height: 810px; overflow:hidden; margin: 0 auto; position: relative; background:url(dindindara.jpg); display:block; }
.upload { width: 399px; height: 500px; background: #161616; display: block; top: 382px; margin: 0 auto; position: relative; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }
.loader {      top: 0; margin: 0 auto;
   z-index: 9999;
   width: 100%;
   height: 100%;
   position: fixed;
   background: #000;
   display: block;
   cursor: wait; }
   
 .loader img {
	 position: relative;
	 width: 126px;
	 left: 50%;
	 margin-left: -63px;
	 top: 100px; }

/* #Forms
================================================== */

	form {
		padding: 10px 20px;
		position: relative;
		width: 359px !important; }

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea,
	select {
		border: none;
		padding: 15px 10px;
		outline: none;
		box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "Segoe UI", sans-serif;
		color: #666;
		width: 339px;
		max-width: 339px;
		display: block;
		margin-bottom: 10px;
		background: #282727; }
	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="email"]:focus,
	textarea:focus {
 		color: #282727;
		background:#666 }
	textarea {
		min-height: 60px; resize:none; }
	select { line-height: 40px }
	
	form p {
		color: #666; }
		
	input[type="submit"] {
		width: 100%;
		padding: 10px 10px;
		border: none;
		color: #666;
		outline: none;
		text-align: center;
		font: 13px "Segoe UI", sans-serif;
		background: #282727;
		cursor: pointer;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		box-shadow: 0px 1px 1px #000;
		-moz-box-shadow: 0px 1px 1px #000;
		-webkit-box-shadow: 0px 1px 1px #000; }
	input[type="submit"]:hover {
		background: #222;}
	input[type="submit"]:active {
		margin-top: 1px; }