@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url('font-face/font-awesome.min.css');
.basefont {
  font-family: "Oxygen", Arial, Helvetica;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Oxygen", Arial, Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background: #1b1b1b;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
a:hover {
  color: #0059b2;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */

.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", Arial, Helvetica;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
section {
  position: relative;
}
.btn {
  color: white;
  background: #222222;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px 10px 0;
  outline: none;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.btn:hover {
  background: #0059b2;
  color: white;
}
.btn.large {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
}
.btn.floating {
  background: #0059b2;
  color: white;
  position: absolute;
  top: 7px;
  right: -3px;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.btn.inactive {
  background: #eeeeee;
  pointer-events: none;
}
.white-bg {
  background: white;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
}
.no-padding {
  padding: 0 !important;
}
.story {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.story ul li {
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 42px;
  font-size: 4.2rem;
  top: 0;
  text-align: center;
  display: table;
  height: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.story ul li.end {
  opacity: 1;
}
.story ul li p {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.story ul li p span {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.story ul li p span a {
  color: #feea67;
  padding: 0 5px;
}
.story ul li p span a:hover {
  color: white;
}
.story .replay {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  bottom: 10%;
  left: 0;
  letter-spacing: 1px;
  z-index: 20;
}
@-webkit-keyframes stage {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.95);
  }
  20%, 90% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
}
@-webkit-keyframes last-stage {
  0%, 98% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
  }
}
.stage.one {
  -webkit-animation: stage 4s;
}
.stage.two {
  -webkit-animation: stage 8s ease 4s 1 normal;
}
.stage.three {
  -webkit-animation: stage 8s ease 12s 1 normal;
}
.stage.four {
  -webkit-animation: stage 8s ease 20s 1 normal;
}
.stage.five {
  -webkit-animation: stage 8s ease 28s 1 normal;
}
.stage.six {
  -webkit-animation: stage 8s ease 36s 1 normal;
}
.stage.end {
  -webkit-animation: last-stage 45s ease 0s 1 normal;
}
.bg {
  background: url(../img/slideshow-04.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
.bg.loose {
  background-image: url(../img/loose.jpg);
}
video {
  display: block;
}
#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.header {
  padding-top: 5%;
  line-height: 70px;
  width: 100%;
  top: 0;
  background: url(../img/bg.png) repeat #222222;
}
.header.clear {
  background: none;
}
.header.float {
  background: none;
  position: absolute;
  left: 0;
  z-index: 10;
}
.header .logo {
  float: left;
}
.header .menu {
  margin-left: 50px;
  float: right;
}
.header .menu li {
  float: left;
  margin-left: 20px;
}
.header .menu li a {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .menu li a:hover {
  color: #feea67;
}
.header .menu li a.active {
  color: #feea67;
}
.main {
  padding-top: 20px;
}
.main h1 {
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
  color: #feea67;
}
.main h1 small {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 10px;
  color: #fff8cc;
}
.main h5 {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 30px 0 10px 0;
}
.bio {
  padding: 0 20px;
  color: white;
}
.bio .lg {
  font-size: 50px;
  font-size: 5rem;
  float: left;
  margin-right: 10px;
  font-weight: bold;
  padding: 0 10px;
  background: white;
  color: #333333;
}
.social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: solid 1px white;
  color: white;
}
.social a:hover {
  background: white;
  color: #333333;
}
.profile-link {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-link span {
  position: absolute;
  bottom: 10px;
  left: 10%;
  display: block;
  width: 80%;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.profile-link:hover img {
  opacity: 0.9;
}
.profile-link:hover span {
  background: black;
}
.updates {
  padding: 5%;
  position: relative;
  background: #1b1b1b;
  display: inline-block;
  width: 100%;
}
.updates .sc-feed {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-bottom: 1.875em;
}
.updates .sc-feed img {
  width: 100%;
}
.updates .sc-feed .who {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 100%;
}
.updates .sc-feed .who i {
  margin-right: 3px;
}
.updates .sc-feed .msg {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  padding: 20px;
  font-weight: bold;
}
.updates .sc-feed:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.updates .sc-feed:hover .who {
  background: rgba(0, 0, 0, 0.8);
}
.updates .sc-feed.tw {
  background: #feea67;
  color: #333333;
}
.updates .sc-feed.tw a,
.updates .sc-feed.tw .who {
  color: #333333;
}
.updates .sc-feed.tw:hover .who {
  background: none;
}
.updates .sc-feed.fb {
  background: #fd3451;
}
.updates .sc-feed.fb:hover .who {
  background: none;
}
.grid {
  width: 100%;
  padding: 30px 0;
  background: white;
}
.grid .sort {
  padding-bottom: 20px;
}
.grid .sort a {
  margin-right: 10px;
  color: #666666;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
}
.grid .sort a:hover,
.grid .sort a.active {
  text-decoration: underline;
}
.grid .sort a.active {
  font-weight: bold;
  color: #333333;
}
.grid .media {
  color: #333333;
}
.grid .media .img-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  background: #333333;
  margin-bottom: 10px;
}
.grid .media .img-wrap .float {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #222222;
  border: solid 2px #222222;
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.grid .media .img-wrap .float:hover {
  background: none;
}
.grid .media span {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
.grid .media p {
  margin-top: 0;
}
.events {
  padding-top: 30px;
}
.events .event {
  background: rgba(254, 234, 103, 0.67);
  color: #333333;
  width: 100%;
  height: 0;
  padding: 20px 20px 50% 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.events .event .date,
.events .event .location {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
.events .event .venue {
  margin: 5px 0;
  font-size: 24px;
  font-size: 2.4rem;
}
.events .event:hover {
  background: #feea67;
}
.contact p {
  margin-bottom: 0;
}
.contact h1 {
  margin-top: 5px;
  font-size: 28px;
  font-size: 2.8rem;
}
