<div class="body-wrap">
	<div class="row full-w collapse">

		<div class="large-6 columns">
			<div class="large-6 columns">
				<div class="square">
					<div class="player">
					   <video type="video/mp4"  src="media/vid.mp4"></video>
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="square bg1">
					<div class="inner">
						<h3>M.I Abaga</h3>
						<p>My resolution is simple. To work harder, to work better and to end the year better than the last. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolore aspernatur sit optio nostrum sapiente nulla sed fuga mollitia error.</p>
						<div class="share">
							<span>SHARE</span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="large-6 columns">
			<div class="large-6 columns">
				<div class="square">
					<div class="player">
					   <video type="video/mp4"  src="media/vid.mp4"></video>
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="square bg2">
					<div class="inner">
						<h3>M.I Abaga</h3>
						<p>My resolution is simple. To work harder, to work better and to end the year better than the last. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolore aspernatur sit optio nostrum sapiente nulla sed fuga mollitia error.</p>
						<div class="share">
							<span>SHARE</span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="large-6 columns">
			<div class="large-6 columns">
				<div class="square bg3">
					<div class="inner">
						<h3>M.I Abaga</h3>
						<p>My resolution is simple. To work harder, to work better and to end the year better than the last. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolore aspernatur sit optio nostrum sapiente nulla sed fuga mollitia error.</p>
						<div class="share">
							<span>SHARE</span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="square">
					<div class="player">
					   <video type="video/mp4"  src="media/vid.mp4"></video>
					</div>
				</div>
			</div>
		</div>

		<div class="large-6 columns">
			<div class="large-6 columns">
				<div class="square bg4">
					<div class="inner">
						<h3>M.I Abaga</h3>
						<p>My resolution is simple. To work harder, to work better and to end the year better than the last. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolore aspernatur sit optio nostrum sapiente nulla sed fuga mollitia error.</p>
						<div class="share">
							<span>SHARE</span>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="square">
					<div class="player">
					   <video type="video/mp4"  src="media/vid.mp4"></video>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
// run script after document is ready
$(function () {
 
   // install flowplayer to an element with CSS class "player"
   $(".player").flowplayer({ swf: "/js/player/flowplayer.swf" });
 
});
</script>
