<div class="hero">
	<div class="row">

		<div class="intro">
			<img src="img/intro.png" />
		</div>

		<!--
		<div class="play-video">
			<span><i class="fa fa-play"></i></span>
		</div> -->
	
		<h1>What do you want to be in 2014?</h1>
		<h3> Join your favorite celebrities and	people around the country to share your new year resolutions. To participate, upload a video to	Instagram with	the	hashtag #ndaniResolution and share to your other social	media accounts to get people liking	and	sharing. </h3>
		<a class="launch" href="#/celebrity"><i class="fa fa-video"></i> Watch Celebrity resolutions</a>
		<a class="launch" href="#/wall-of-resolutions"><i class="fa fa-video"></i> The Wall of Resolutions</a>
	</div>
</div>
