.typeahead.dropdown-menu {
	left: 40px;
	bottom: 75%;
	position: absolute;
	background: white;
	padding: 10px;
	font-size: 14px;
	border: solid 1px #DFDFDF;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.typeahead li {
	display: block;
	margin-bottom: 8px;
}

.typeahead li:last-child {
	margin-bottom: 0
}

.mention_name{
	font-size: 14px;	
    font-weight: normal;
    font-family: "GothamMediumRegular";
    color: #333;
}

.mention_username{
	font-size: 14px;
	color: #ccc;
}

.mention_image{
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}

.active .mention_username{
	color: #999;
}

.active .mention_name{
	color: #04a2dc;
}
