---
//Components
import ProjectSlide from "@components/ProjectSlide.astro";

//Assets
import comic1 from "@project-images/hanky-panky/slide-4/comic-1.png"
import comic2 from "@project-images/hanky-panky/slide-4/comic-2.png"


const { id } = Astro.props
---
<ProjectSlide id={id} className="slide">
    <div class="comics">
        <img src={comic1} alt="Comic Page 1" class="comic__image">
        <img src={comic2} alt="Comic Page 2" class="comic__image">
    </div>
</ProjectSlide>
<style>
    .slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 600px){
        .slide{
            padding: 0 16px;
        }
    }

    .comics{
        display: flex;
        flex-direction: column;
        row-gap: 22px;
        max-width: 522px;
        width: 28%;
    }

    @media (max-width: 1000px){
        .comics{
            width: 50%;
        }
    }
    
    @media (max-width: 600px){
        .comics{
            width: 100%;
        }

        .comic__image{
            width: 100%;
        }
    }
</style>