main {
  margin-top: calc(30vh - 100px);
  padding: 30px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}
main h1 {
  text-align: center;
}
main section {
  max-width: 500px;
  cursor: text;
}
@media all and (max-width: 1052px) {
  main section {
    transform: translateX(154px);
  }
}
main footer {
  margin: 50px 0;
}
