/*Header */
header {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3 {
  margin: 0;
}
h3 {
  font-weight: normal;
  font-size: 2rem;
}
@media all and (min-width: 700px) {
  h3 {
    font-size: 2.4rem;
  }
}
/* Wordmark */
@keyframes fadeInWordmark {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}
.wordmark {
  font-size: 2rem;
  font-family: 'Soehne Schmal', sans-serif;
  text-transform: uppercase;
  transition: 0.3s ease;
  animation: fadeInWordmark 1s;
}
@media all and (min-width: 700px) {
  .wordmark {
    font-size: 4rem;
  }
}
/* Main */
main {
  background: black;
  color: #938888;
  text-transform: uppercase;
}
/* Banner */
@keyframes scrollText {
  0% { transform: translate3d(0,0,0); }
  100% { transform: translate3d(-100%,0,0); }
}
.banner {
  height: 75px;
  line-height: 75px;
  overflow: hidden;
  padding: 0 20px;
}
.banner-text {
  animation: scrollText 20s linear infinite;
  animation-delay: 2s;
  white-space: nowrap;
}