@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 600;
  src: url('../fonts/soehne-schmal-web-halbfett.woff');
}
@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 700;
  src: url('../fonts/soehne-schmal-web-dreiviertelfett.woff');
}
@keyframes link-flash {
  0%, 100% { 
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

h1, h2, h3 {
  font-family: 'Soehne Schmal', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  position: relative;
  width: 100%;
}
h1 {
  font-size: 10rem;
}
.card {
  border-radius: 30px;
  background: gray;
}
@media all and (min-width: 700px) {
  main {
    width: 100%;
    height: calc(100vh - 75px);
    overflow: hidden;
  }
  .carousel {
    width: calc(100vh - 75px);
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 30px;
    transform-origin: right top;
    transform: rotate(-90deg) translate3d(0,calc(-100vh + 75px),0);
  }
  .carousel.is-locked {
    overflow: hidden;
  }
  .carousel li {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .carousel li:not(:first-child) {
    margin-top: 20px;
  }
  .card {
    position: absolute;
    width: 400px;
    height: 40vw;
    transform-origin: left top;
    transform: rotate(90deg) translate3d(0,calc(-100vh + 150px),0);
  }
}
/* The J Guide */
.jguide {
  width: 90%;
  background: #FACACA;
  padding: 20px;
}
.jguide header h3 {
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 20px;
}
.jguide header a > div {
  display: flex;
  justify-content: space-between;
}
.jguide header:hover svg {
  animation: link-flash .5s infinite;
}
.jguide figure {
	background:
		linear-gradient(90deg, #FACACA 8px, transparent 1%) center,
		linear-gradient(#FACACA 8px, transparent 1%) center,
		#000;
  background-size: 10px 10px;
  text-align: center;
}
/* A Retrospective of Album Cover Art */
.albumcovers {
  width: 120%;
  transform: translateX(-20%) translateY(10%);
  background: #8DEDDC;
  padding: 10% 20px 20px 20%;
}
.albumcovers header h3 {
  font-size: 7rem;
  line-height: 0.8;
}
.albumcovers figure a {
  display: flex;
  width: 100%;
  overflow: hidden;
}
/* Hanky Panky */
.hankypanky {
  width: 80%;
  transform: translateX(20%);
  padding: 20px;
  background: #FFFFFF;
}