/*Header */
@font-face {
  font-family: 'Soehne Schmal';
  font-weight: 700;
  src: url('../fonts/soehne-schmal-web-dreiviertelfett.woff');
}

header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 75px;
}
@media all and (min-width: 700px) {
  header {
    position: relative;
    height: 80vh;
    top: 0;
  }
}
h1, h2, h3 {
  margin: 0;
}
h1 {
  font-size: 5rem;
  font-family: 'Soehne Schmal', sans-serif;
  text-transform: uppercase;
}
h3 {
  font-weight: normal;
  font-size: 2.4rem;
}
@media all and (min-width: 700px) {
  h1 {
    font-size: 10rem;
  }
}
/* Carousel */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
main {
  position: relative;
  width: 100%;
}
.carousel li {
  padding: 20px;
  position: relative;
}
.carousel li article {
  height: 60vh;
  perspective: 1600px;
}
@media all and (min-width: 700px) {
  main {
    height: calc(100vh - 75px);
    overflow: hidden;
  }
  .carousel {
    width: calc(100vh - 75px);
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
    transform-origin: right top;
    transform: rotate(-90deg) translate3d(0,calc(-100vh + 75px),0);
  }
  .carousel.is-locked {
    overflow: hidden;
  }
  .carousel li {
    height: 500px;
    padding: 0;
  }
  .carousel li:not(:first-child) {
    margin-top: 30px;
  }
  .carousel li article {
    position: absolute;
    width: 500px;
    height: 40vw;
    transform-origin: left top;
    transform: rotate(90deg) translate3d(0,calc(-100vh + 150px),0);
  }
}
/* Flipping Card */
.card,
.card__front,
.card__back {
  border-radius: 30px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  cursor: pointer;
}
.card > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card__front {
  background: gray;
}
.card__back {
  padding: 30px;
  transform: rotateY(180deg);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card a:hover {
  animation: underline-flash .5s infinite;
}
/* The J Guide */
.jguide {
  width: 90%;
  background: #FACACA;
  padding: 20px;
}
.jguide header h3 {
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 20px;
}
.jguide header a > div {
  display: flex;
  justify-content: space-between;
}
.jguide header:hover svg {
  animation: link-flash .5s infinite;
}
.jguide figure {
	background:
		linear-gradient(90deg, #FACACA 8px, transparent 1%) center,
		linear-gradient(#FACACA 8px, transparent 1%) center,
		#000;
  background-size: 10px 10px;
  text-align: center;
}
/* A Retrospective of Album Cover Art */
.albumcovers {
  width: 120%;
  transform: translateX(-20%) translateY(10%);
  background: #8DEDDC;
  padding: 10% 20px 20px 20%;
}
.albumcovers header h3 {
  font-size: 7rem;
  line-height: 0.8;
}
.albumcovers figure a {
  display: flex;
  width: 100%;
  overflow: hidden;
}
/* Hanky Panky */
.hankypanky {
  width: 80%;
  transform: translateX(20%);
  padding: 20px;
  background: #FFFFFF;
}