---
export interface Props {
  id: string,
  title: string;
  count: string | number;
  url: string,
}

const {
  id,
  title,
  count,
  url
} = Astro.props;

---

<div class="database">
  <div class="avatar">
    <a href={url} target="_blank" rel="noopener noreferrer">
      <img src={`/assets/images/databases/${id}.jpg`} alt={`Cover for ${title}`} />
    </a>
  </div>
  <div class="text">
    <div class="inner">
      <div class="text-name">
        <a href={url} target="_blank" rel="noopener noreferrer" class="c-link c-link--out">{ title }</a>
      </h3>
      <div class="text-count">{ count }</div>
    </div>
  </div>
</div>

<style lang="scss">
  a {
    font-style: normal;
  }

  .database {
    --card-size: 72px;
    display: grid;
    gap: 24px;
    grid-template-columns: minmax(auto, var(--card-size)) 1fr;
    align-items: center;

    .avatar {
      background: whitesmoke;
      aspect-ratio: 1;
      display: flex;
    }

    .text {
      display: flex;
      flex-direction: column;

      &-name {
        margin: 0;
        font-family: var(--font-sans);
        font-weight: normal;
        font-size: 2rem;
      }

      &-count {
        font-family: var(--font-sans-mono);
        margin: 0;
        font-size: 1.6rem;
      }
    }

    img {
      transition: all .5s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
</style>