---

const {
  month,
  posts
} = Astro.props;
---

<div class="preview">
  <ul class="body">
    {posts.map(({ href, noAndTitle }) => (
    <li><a href={href} target="_blank" rel="noopener noreferrer">{noAndTitle}</a></li>
    ))}
  </ul>
</div>

<style lang="scss">
  .preview {
    .head h5 {
      color: var(--color-dark-gray);
      font-size: 1.8rem;
      font-family: var(--font-sans);
      margin: 0;
      margin-block-end: 24px;
      font-weight: 400;
    }
  }

  .body {
    a {
      font-style: normal;

      &:hover {
        // font-style: italic;
        text-decoration: underline;
      }
    }

    &>*+* {
      margin-top: 16px;
    }
  }
</style>