---
import logo from "@images/logo.png";

export interface Props {
    className?: string
}

const { className = '' } = Astro.props
---
<nav class={`mobile-nav ${className}`}>
    <a href="/">
        <img src={logo} alt="Wuruwuru" class="mobile-nav__logo">
    </a>
    <button class="mobile-nav__open-button">
        <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.304688" y1="1.5" x2="20.3047" y2="1.5" stroke="black" stroke-width="3"/>
            <line x1="0.304688" y1="11.5" x2="20.3047" y2="11.5" stroke="black" stroke-width="3"/>
        </svg>
    </button>
</nav>
<div class="popup">
    <div class="popup__header">
        <a href="/">
            <img src={logo} alt="Wuruwuru" class="popup__logo">
        </a>
        <button class="popup__close-button">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="2.01179" y1="1.51506" x2="17.5681" y2="17.0714" stroke="black" stroke-width="2"/>
                <line x1="1.59758" y1="17.0707" x2="17.1539" y2="1.51438" stroke="black" stroke-width="2"/>
            </svg>
        </button>
    </div>
    
    <div class="popup__links">
        <a href="/about" class="popup__link">
            About
        </a>
        <a href="https://medium.com/wuruwuru" target="_blank" class="popup__link">
            Journal
        </a>
        <a href="/team" class="popup__link">
            Team
        </a>
    </div>
</div>
<style>
    .mobile-nav{
        display: none;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
    }

     @media (max-width: 600px){
        .mobile-nav{
            display: flex;
        }
    }

    .mobile-nav__logo{
        width: 50px;
    }

    .mobile-nav__open-button{
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .popup{
        padding: 45px 23px 34px 15px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px 8px 48px #C5C5C5;
        opacity: 0;
        transition-duration: 0.3s;
        pointer-events: none;
        display: none;
    }

    @media (max-width: 600px){
        .popup{
            display: block;
        }
    }

    .popup.is-visible{
        opacity: 1;
        pointer-events: auto;
    }


    .popup__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .popup__logo{
        width: 50px;
    }

    .popup__links{
        display: grid;
        row-gap: 20px;
    }

    .popup__link{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        text-decoration: none;
    }

    .popup__close-button{
        background-color: transparent;
        border: none;
        padding: 0;
    }
</style>
<script>
    const mobileNav = document.querySelector('.popup');

    document.querySelector('.mobile-nav__open-button').addEventListener('click', () => {
        mobileNav.classList.add('is-visible')
    })


    document.querySelector('.popup__close-button').addEventListener('click', () => {
        mobileNav.classList.remove('is-visible')
    })
</script>