---
import logo from "@images/logo.png";

const links = [
  {
    name: 'Projects',
    route: '/projects/'
  },
  {
    name: 'Creators',
    route: '/creators/'
  },
  {
    name: 'About',
    route: '/about/'
  }
];

const path = Astro.canonicalURL.pathname;
---

<nav class="l-container l-container--fluid">
  <ul id="menu">
    {links.map(({ name, route }) => (
    <li class={path===route ? 'is-active' : '' }><a href={route}>{name}</a></li>
    ))}
  </ul>
  <div class="logo">
    <a href="/">
      <img src={logo} width="60px" height="60px" alt="Logo">
    </a>
  </div>
</nav>
<script>
  // Fade nav menu on scroll
  let isVisible = true;
  const menu = document.getElementById('menu');
  const offset = 100;
  window.addEventListener('scroll', function () {
    if (isVisible && (window.scrollY > offset)) {
      menu.style.opacity = '0';
      isVisible = false;
    } else if (window.scrollY < offset) {
      menu.style.opacity = '1';
      isVisible = true;
    }
  });
</script>

<style lang="scss">
  @import "../styles/mixins.scss";

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-block: 16px;
    top: 0;
    z-index: var(--z-index--5);
    font-size: var(--font-size-base);
    font-family: var(--font-serif);

    &>ul>li {
      display: inline-block;
      padding: 0 5px;
      color: var(--color-dark-gray);

      &.is-active {
        color: var(--color-black);
      }

      a {
        color: inherit;
        font-style: normal;
      }

      &:first-of-type {
        padding-left: 0;
        padding-inline-start: 0;
      }
    }

    & a {
      text-decoration: none;
    }

    .logo {
      max-width: 5rem;

      a {
        display: flex;
        justify-content: flex-end;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
</style>