---
import logo from "@images/logo.png";
---
  <nav>
    <div class="logo">
      <a href="/">
      <img src={logo} width="60px" height="60px" alt="Logo">
      </a>
    </div>
    <ul id="menu">
      <li><a href="/about">About</a></li>
      <li><a href="https://medium.com/wuruwuru" target="_blank" rel="noopener">Journal</a></li>
      <li><a href="https://wuruwuru.notion.site/Costs-07678076eb1342298550b1f713b37f7a" target="_blank" rel="noopener">Costs</a></li>
    </ul>
    <a class="globe" href="https://twitter.com/wuruwurumag" title="@wuruwurumag" target="_blank" rel="noopener">&#127757;</a>
  </nav>

  <script>
      // Fade nav menu on scroll
      let isVisible = true;
      const menu = document.getElementById('menu');
      const offset = 100;
      window.addEventListener('scroll', function() {
          if (isVisible & (window.scrollY > offset)) {
              menu.style.opacity = 0;
              isVisible = false;
          } else if (window.scrollY < offset) {
              menu.style.opacity = 1;
              isVisible = true;
          }
      });
  </script>
  <style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  nav ul {
    transition: opacity 0.3s ease;
  }
  nav > ul > li {
    display: inline-block;
    padding: 0 5px;
  }
  nav > div {
    width: 60px;
    text-align: center;
  }
  nav a {
    text-decoration: none;
  }

  .globe {
    font-size: 2rem;
  }
  .globe:hover {
    animation: none;
  }
  </style>