---

---

<div class="snippet">
  <div class="head">
    <h3>Ten Ten</h3>
    <a href="https://google.com" target="_blank" referrerpolicy="origin">getrevue/ten-ten</a>
  </div>
  <div class="body">
    <p>10 random links on design, art, creators and independent publishing in Africa. Published on random Sundays at 10am.</p>
  </div>
</div>

<style lang="scss">
  .snippet {

  }

</style>