---
const {
  title,
  links,
  description
} = Astro.props;
---

<div class="snippet">
  <div class="head">
    <h3>{title}</h3>
    <a href={links.url} target="_blank" referrerpolicy="origin">{links.title}</a>
  </div>
  <div class="body">
    <p>{description}</p>
  </div>
</div>

<style lang="scss">
  .snippet {}
</style>