---
const {
  title,
  links,
  description
} = Astro.props;
---

<div class="snippet">
  <h3>
    <a href={links.url} class="c-link c-link--out" target="_blank" referrerpolicy="origin">
      {title}
    </a>
  </h3>
  <p>{description}</p>
</div>

<style lang="scss">
  h3 {
    margin-bottom: 10px;
    font-family: var(--font-sans);
    font-size: 2rem;
  }

  a {
    font-style: normal;
  }
</style>
