<header>
	<div class="l-container">
		<div class="text">
			<slot />
		</div>
	</div>
</header>


<style lang="scss">
	@import "../styles/_mixins.scss";

	header {
		padding: calc(var(--spacer-base) * 0.75) 0 calc(var(--spacer-base) * 1.125);
		font-size: 1.2rem;
		line-height: 1.2;

		.text {
			max-width: 600px;
		}
	}
</style>