---
export interface Props {
  name: string,
  imageURL?: URL,
  linkText?: string,
  linkURL?: URL,
}

const {
  name,
  imageURL,
  linkText,
  linkURL
} = Astro.props;

---

<div class="profile">
  <div class="avatar">
    {imageURL && (
    <img src={imageURL} alt={`${name} image`} />
    )}
  </div>
  <div class="text">
    <div><b>{ name }</b></div>
    <div><a href={linkURL} target="_blank">{ linkText }</a></div>
  </div>
</div>

<style lang="scss">
  .profile {
    --card-size: 56px;
    display: grid;
    gap: 24px;
    grid-template-columns: minmax(auto, var(--card-size)) 1fr;
    align-items: center;

    .avatar {
      background: whitesmoke;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
    }

    a {
      font-style: normal;
      cursor: pointer;
    }

  }
</style>
