---
//Assets
import logo from "@images/logo-white.png";

export interface Props {
    slides: {id: string}[]
}

const { slides } = Astro.props
---
<nav class="navbar">
    <img src={logo} alt="logo" class="navbar__logo"/>
    <ul class="slides">
        {
            slides.map((slide) => (
                <li class="slides__item" data-id={slide.id}>
                    <a class="slides__item__link" href={"#" + slide.id}/>
                </li>
            ))
        }
    </ul>
    <img src={logo} alt="logo" class="navbar__logo"/>
</nav>

<style>
    .navbar{
        display: flex;
        padding: 6px 10px 0;
        justify-content: space-between;
        margin-bottom: 24px;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
    }

    @media (max-width: 600px){
        .navbar{
            margin-bottom: 16px;
            padding: 0 16px;
        }

        .navbar__logo{
            display: none;
        }
    }

    .slides{
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding-top: 8px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        width: 375px;
    }

    @media (max-width: 600px){
        .slides{
            width: 100%;
        }
    }

    .slides__item{
        height: 4px;
        background-color: rgba(255, 255, 255, 0.2);
        flex: 1 0 0;
    }

    .slides__item__link{
        width: 100%;
        height: 100%;
        display: block;
    }

    .slides__item.is-active{
        background-color: white;
    }
</style>
<script is:inline>
    //Get all slide elements
    const slideIndicatorElements = [...document.querySelectorAll(".slides__item")];

    //Object to map slide ids to their index in order to make retrieval faster
    const slidesToIndex = {};

    slideIndicatorElements.forEach((slide, index) => {
        //Map slide id to index
        slidesToIndex[slide.dataset.id] = index
    })

    const renderActiveSlideIndicator = () => {
        const hash = window.location.hash

        let activeSlide = slideIndicatorElements[0].dataset.id;

        if(!!hash){
            activeSlide = hash.slice(1);
        }

        //Get the active slide's index
        let activeSlideIndex = slidesToIndex[activeSlide];

        //If hash is invalid then redirect to base page
        if(activeSlideIndex === undefined){
            window.location.hash = ''
            return
        }

        //Loop through elements and add active class where appropriate
        slideIndicatorElements.forEach((element, index) => {
            if(index <= activeSlideIndex){
                element.classList.add("is-active")
            }else{
                element.classList.remove("is-active")
            }
        })
    }

    window.addEventListener("DOMContentLoaded", renderActiveSlideIndicator)
    window.addEventListener("hashchange", renderActiveSlideIndicator)
</script>