<form class="form" action="#" id="subscribe-form">
	<p class="form__label">Keep in touch</p>
	<label class="form__input-wrapper" for="email">
		<input placeholder="your@email.com" class="form__input" />
		<button class="form__button">Subscribe</button>
	</label>
	<small>Thanks for subscribing</small>
</form>

<style lang="scss">
	@import "../styles/_mixins.scss";

	.form {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		&__label {
			font-size: var(--font-size-base);
			margin: 0;
		}

		&__input-wrapper {
			$border-color: var(--color-black);
			$padding-inline: 14px;
			$padding-block: 16px;
			display: flex;
			align-items: center;
			background: #ffffff;

			.form__input {
				flex-grow: 1;
				font-size: 1.6rem;
				line-height: 20px;
				padding: $padding-block calc($padding-inline / 2) $padding-block $padding-inline;
				color: var(--color-black);
				background: transparent;
				border: none;
				outline: none;
				border-color: $border-color;
				border: 1px solid;
				border-radius: 0;
				border-right: none;
				border-inline-end: none;
				margin-right: 0;
				margin-inline-end: 0;

				&::placeholder {
					color: var(--color-dark-gray);
				}

				&:focus,
				&:focus+.form__button {
					/* border-top-width: 2px; */
					border-bottom-width: 2px;
					/* border-bottom-color: rgba($color: #12100E, $alpha: 0.7); */
				}
			}

			.form__button {
				padding: $padding-block $padding-inline $padding-block calc($padding-inline / 2);
				font-size: 1.6rem;
				line-height: 20px;
				font-weight: normal;
				background: transparent;
				border-color: $border-color;
				border: 1px solid;
				color: var(--color-black);
				border-inline-start: none;
				border-radius: 0;
				margin-left: 0;
				margin-inline-start: 0;
			}
		}
	}
</style>
<script type="module">
	const form = document.querySelector('#subscribe-form');
	const buttonLoading = (status = false) => {
		const button = form.querySelector('.form__button');
		button.innerText = status ? 'loading...' : 'Subscribe';
	}

	const loadingDots = () => {
		const button = form.querySelector('.form__button');
		const dots = button.querySelectorAll('.loading-dots__dot');
		const dotCount = dots.length;
		const dotInterval = setInterval(() => {
			const dot = dots[Math.floor(Math.random() * dotCount)];
			dot.classList.toggle('loading-dots__dot--active');
		}, 100);
		return dotInterval;
	}
	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		buttonLoading(true);
		const email = form.querySelector('input').value;

		const localLambdaAddress = '/.netlify/functions/mailchimp';
		fetch(localLambdaAddress, {
			method: 'PUT',
			body: JSON.stringify({ email })
		}).then((response) => {
			console.log(response.json(), 'response');
		})
			.catch((error) => {
				console.log('error', error);
			})
			.finally(() => {
				buttonLoading(false);
			});
	})

</script>