---

---
<form class="form">
	<p class="form__label">Keep in touch</p>
	<label class="form__input-wrapper" for="email">
		<input placeholder="your@email.com" class="form__input"/>
		<button class="form__button">Subscribe</button>
	</label>
</form>

<style lang="scss">
	.form {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		&__label {
			font-size: 2rem;
			margin: 0;
		}
		&__input-wrapper {
			$border-color: var(--color-black);
			$padding-inline: 14px;
			$padding-block: 16px; 
			display: flex;
			align-items: center;
			background: #ffffff;
			.form__input {
				flex-grow: 1;
				font-size: 1.6rem;
				line-height: 20px;
				padding: $padding-block calc($padding-inline / 2) $padding-block $padding-inline;
				color: var(--color-black);
				background: transparent;
				border: none;
				outline: none;
				border-color: $border-color;
				border: 1px solid;
				border-right: none;
				border-inline-end: none;
				&::placeholder{
					color: var(--color-dark-gray);
				}
				&:focus,
				&:focus + .form__button {
					/* border-top-width: 2px; */
					border-bottom-width: 2px;
					/* border-bottom-color: rgba($color: #12100E, $alpha: 0.7); */
				}
			}
			.form__button {
				padding: $padding-block $padding-inline $padding-block calc($padding-inline / 2);
				font-size: 1.6rem;
				line-height: 20px;
				font-weight: normal;
				background: transparent;
				border-color: $border-color;
				border: 1px solid;
				color: var(--color-black);
				border-inline-start: none;
			}
		}
}

@media (max-width: 600px){
		.form{
				width: 80%;
				max-width: unset;
		}
}


</style>