@import url('font-face/font-awesome.min.css');
@import url('font/stylesheet.css');
html {
  font-size: 62.5%;
  height: 100%;
}
.bfont {
  font-family: "fugaz_oneregular", Arial, Helvetica, sans-serif;
}
.lfont {
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif;
}
body {
  font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-size: 1.5rem;
  overflow-x: hidden;
  background: #fff126;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
}
section {
  position: relative;
}
.btn {
  color: white;
  background: #222;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px 10px 0;
  outline: none;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.btn.large {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
}
.white-bg {
  background: white;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
.no-mobile {
  display: block;
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
.no-padding {
  padding: 0;
}
.minfull {
  min-height: 100%;
}
@media all and (min-width: 600px) and (max-width: 768px) {
  .minfull {
    min-height: 70%;
  }
}
@media all and (max-width: 600px) {
  .minfull {
    min-height: 40%;
  }
}
.minfull.xl {
  min-height: 100%;
}
@media all and (min-width: 768px) {
  .maxfull {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.menu {
  position: fixed;
  top: 10%;
  left: 60px;
  z-index: 10;
}
@media all and (max-width: 768px) {
  .menu {
    left: 20px;
  }
}
.menu .logo {
  display: block;
  height: 64px;
  width: 64px;
  background: url(../img/logo.png) center center no-repeat;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.menu:hover .logo {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.menu:hover .nav {
  display: block;
}
.menu .nav {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding-left: 20px;
  width: 120px;
}
.menu .nav.portfolio li a {
  color: white;
}
.menu .nav:hover {
  display: block;
}
.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/hero.jpg) right bottom no-repeat;
  background-size: 100% auto;
}
@media all and (max-width: 600px) {
  .hero {
    background-image: url(../img/hero_small.jpg);
  }
}
.hero.work {
  background: url(../img/hero-work.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
@media all and (max-width: 600px) {
  .hero.work {
    background-image: url(../img/hero-work_small.jpg);
  }
}
.hero.personal {
  background: url(../img/hero-personal.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
@media all and (max-width: 600px) {
  .hero.personal {
    background-image: url(../img/hero-personal_small.jpg);
  }
}
.message {
  padding: 20px;
  text-transform: uppercase;
  z-index: 5;
  position: relative;
}
@media all and (min-width: 768px) {
  .message {
    padding: 0 120px 0 60px;
    padding-top: 31.25%;
  }
}
.message.work {
  padding-top: 25%;
}
@media all and (max-width: 768px) {
  .message.work {
    padding-top: 50px;
  }
}
.message.personal {
  padding-top: 15%;
}
@media all and (max-width: 768px) {
  .message.personal {
    padding-top: 50%;
  }
}
.message .desc {
  color: #f98100;
  margin-bottom: 40px;
}
.message .desc.personal {
  color: white;
  text-transform: none;
  max-width: 400px;
}
.message .greeting {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "proxima_novalight", Arial, Helvetica, sans-serif;
  color: #f98100;
  margin-bottom: 0;
}
@media all and (max-width: 600px) {
  .message .greeting {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
.message .name,
.message .title {
  font-size: 67px;
  font-size: 6.7rem;
  font-family: "fugaz_oneregular", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: #1b1b1b;
  letter-spacing: -1px;
}
@media all and (max-width: 600px) {
  .message .name,
  .message .title {
    font-size: 36px;
    font-size: 3.6rem;
  }
}
.message .name.pre,
.message .title.pre {
  margin-bottom: 0;
}
.message .title {
  font-size: 36px;
  font-size: 3.6rem;
}
@media all and (max-width: 600px) {
  .message .title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
.message .title.lg {
  font-size: 77px;
  font-size: 7.7rem;
  margin: 5px 0 20px 0;
}
@media all and (max-width: 600px) {
  .message .title.lg {
    font-size: 36px;
    font-size: 3.6rem;
  }
}
.nav li a {
  display: inline-block;
  clear: both;
  line-height: 1.5em;
  color: #1b1b1b;
}
.nav li a:hover {
  text-decoration: line-through;
}
.contactme {
  padding-top: 20px;
  position: relative;
}
.contactme:before {
  content: '';
  top: 0;
  position: absolute;
  width: 50px;
  height: 1px;
  background: #1b1b1b;
}
.contactme.personal {
  color: white;
}
.contactme.personal:before {
  background: white;
}
#portfolio {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}
#portfolio .stage {
  position: absolute;
  z-index: 20;
  display: inline-block;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
#portfolio .stage.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}
#portfolio #close-portfolio {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  text-align: center;
  color: white;
  cursor: pointer;
}
#portfolio #close-portfolio i {
  margin-right: 5px;
}
#portfolio h3 {
  padding: 80px 0 40px 0;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}
.activity {
  padding: 15%;
  text-align: center;
}
.activity a {
  color: #1b1b1b;
  text-decoration: underline;
}
.activity h3 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.activity .book {
  width: 100%;
  height: 0;
  padding: 0 20px 120%;
  background: url('../img/thealchemist.jpg') #333333;
  background-size: cover;
  text-align: center;
  color: #f98100;
  text-transform: uppercase;
}
.activity .book h3 {
  padding-top: 30px;
  font-family: "fugaz_oneregular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0;
}
.activity .book p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
}
.social {
  display: inline-block;
  width: 100%;
}
.social li a {
  height: 45px;
  width: 45px;
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff126;
  background: #f98100;
  line-height: 45px;
  text-align: center;
}
.work-done {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.work-done img {
  border-radius: 5px;
}
.work-done img:hover {
  opacity: .8;
}
.work-done h5 {
  color: white;
  margin: 10px 0 5px 0;
  font-family: "fugaz_oneregular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.work-done p {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
}
