/*
* Style by Aikomo Onaopemipo
* Grid by the Dimanche Skeleton
*/
/* Table of Content
==================================================
    #Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */


/* #Site Styles
================================================== */

@import url('datepicker.css');
@import url('reset.css');
@import url('base.css');
@import url('rskeleton.css');
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);


/** Global Styles **/


    html, body {
        height: 100%;
    }

    body.index {
        background: #333;
    }
	
	a { 
        transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-webkit-transition: all 200ms linear; }
	
	*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

    .header {
    	position: fixed;
    	height: 40px;
    	width: 100%;
    	background: #333333;
    	z-index: 10;
        color: white;
    }

    .header .container {
    	padding: 0 20px;
    }

    .header:after {
    	content: '';
    	display: block;
    	position: absolute;
    	bottom: -3px;
    	height: 3px;
    	width: 100%;
    	background: rgb(72,164,255); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(72,164,255,1) 0%, rgba(0,140,70,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(72,164,255,1)), color-stop(100%,rgba(0,140,70,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(72,164,255,1) 0%,rgba(0,140,70,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(72,164,255,1) 0%,rgba(0,140,70,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(72,164,255,1) 0%,rgba(0,140,70,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(72,164,255,1) 0%,rgba(0,140,70,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48a4ff', endColorstr='#008c46',GradientType=1 ); /* IE6-9 */
    }

    .logo {
    	float: left;
    }

    .logo img {
        margin-top: 7px;
        margin-right: 10px;
    }

    .logo .name {
    	display: inline-block;
    	font-size: 15px;
    	line-height: 40px;
    	margin-right: 20px;
    }

    #uni-search {
        background: #666666;
        border-radius: 3px;
        border: none;
        color: white;
    	float: left;
    	position: relative;
    	width: 220px;
    	height: 25px;
    	margin: 7px 0;
    }

    .nav {
        float: right;
        color: white;
        line-height: 40px;
    }

    .nav a {
        cursor: pointer;
        color: rgba(72,164,255,1);
    }

    .main-wrapper {
        position: relative;
        padding-top: 40px;
        min-height: 100%;
    	background: white;
    	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }



/**--------Main Styles--------**/


.profiles {
    width: 100%;
    background: black;
}

.feat {
    opacity: 0.6;
}

.feat:hover {
    opacity: 0.8;
}


.text-overlay, .first-logo {
    position: absolute;
    left: 50%;
    top: 150px;
    width: 440px;
    padding: 20px;
    margin: 0 0 30px -220px;
    text-align: center;
}

.first-logo {
    top: 20px;
    z-index: 4;
}

.first-logo img {
    margin: 0 auto;
    max-width: 100%;
}


/**
.text-overlay h2, .text-overlay p {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.9);
} **/

.text-overlay h1 {
    text-transform: uppercase;
}

.text-overlay p {
    color: white;
    font-size: 16px;
    font-family: 'Roboto Slab', Arial, sans-serif;
}


#main-search {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    background: rgba(0,0,0,0.8);
    padding: 15px 10px;
    color: white;
    border-radius: 3px;
    border: none; 
}


.login-options {
    margin-top: 20px;
}

.login-options a {
    color: white;
}

.login-options a:hover {
    text-decoration: underline;
}

.login-options small {
    padding: 7px;
    border-radius: 50%;
    background: #008c46;
}


/**======== Featured Profiles ===========**/

.ft-prof h5 {
    margin: 20px 0;
    font-family: 'Roboto Slab', Arial, sans-serif;
}

#featured-profiles li {
    margin-bottom: 20px;
}

#featured-profiles li img {
    float: left;
}


/** ============  Summary Profile ======= **/

.summary {
    font-size: 13px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    width: 160px;
    float: left;
    background: #e8e8e8;
    padding: 10px;
}

.summary p {
    margin: 0;
}

.summary .name {
    font-size: 15px;
    color: #55AAFF;
    font-family: 'Hammersmith One', Arial, sans-serif;
}

.profile-image {
    float: left;
    position: relative;
    display: block;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.profile-image img {   
    width: 100%; 
    transition: all 0.3s ease-in-out;
    transform: translate3d(0px, 3px, 0px);
    -webkit-transform: translate3d(0px, 3px, 0px)
}

.profile-image img:hover {
    opacity: 0.7;
    transform: translate3d(0px, 30px, 0px);
    -webkit-transform: translate3d(0px, 30px, 0px);
}

.full-profile {
    display: block;
    width: 100%;
    background: #222;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}


/**============== Footer =============== **/

.footer {
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
    height: 50px;
    display: block;
    background: #222;
}

.footer a {
    font-size: 12px;
    margin-right: 10px;
    color: white;
    line-height: 50px;
}

.footer a:hover {
    text-decoration: underline;
}



 /*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .text-overlay, .first-logo {
            width: 100%;
            left: 0; top: 0;
            position: relative;
            margin: 0 auto;
            display: inline-block;
        }

        .first-logo {
            position: absolute;
            top: 20px;
        }

        .text-overlay h1 {
            font-size: 32px;
            line-height: 1.2;
        }

        .ft-prof h5 {
            margin-left: 10px;
        }

        .admin {
            display: none;
        }

        .summary, .profile-image {
            width: 140px;
            height: 140px;
        }

        }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

    }

/* #Tablet (Portrait)
================================================== */


    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

        .summary, .profile-image {
            width: 124px;
        }

    }