@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* zocial */

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Karla", Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  background: white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #2980b9;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */

.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 0;
}
section {
  position: relative;
}
.btn {
  color: white;
  background: #2980b9;
  padding: 4px 10px;
  border-radius: 20px;
  margin: 0 10px 10px 0;
  outline: none;
  border: solid 1px transparent;
  display: inline-block;
  float: left;
  -webkit-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.btn:hover {
  -webkit-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.6);
  -ms-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.6);
  -o-box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.6);
  border: solid 1px #4aa3df;
}
.btn.large {
  padding: 10px 17px;
  border-radius: 30px;
}
.btn.alert {
  background: #ff5151;
}
.btn.alert:hover {
  border-color: red;
}
header {
  width: 100%;
}
.nav {
  width: 100%;
  height: 70px;
  background: #213d50;
  z-index: 99;
}
@media all and (max-width: 480px) {
  .nav .logo {
    width: 50px;
    overflow: hidden;
  }
}
.nav .links > li > a {
  color: #e6e6e6;
  margin: 15px 10px 15px 0;
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  float: left;
}
.nav .links > li > a:hover {
  color: white;
}
.nav li {
  position: relative;
  float: left;
}
.nav li > ul {
  display: none;
  position: absolute;
  top: 80%;
  right: 10px;
  width: 130px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow: hidden;
}
.nav li > ul li {
  width: 100%;
}
.nav li > ul li a {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-bottom: solid 1px #f7f7f7;
  color: #454545;
  display: block;
}
.nav li > ul li a:hover {
  background: #e0e0e0;
}
.nav li > ul.checkout {
  width: 200px;
}
.nav li:hover ul {
  display: block;
}
.nav.trans {
  background: none;
  position: absolute;
}
.nav.sub {
  background: whitesmoke;
  border-bottom: solid 1px #ececec;
  text-align: center;
}
.nav.sub h3 {
  margin-right: 10px;
  font-weight: normal;
  color: #bdbdbd;
}
.nav.sub .btn {
  margin-top: 10px;
  float: none;
}
.hero {
  width: 100%;
  height: 700px;
  background: url(../img/hero-img2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.hero .row {
  padding-top: 200px;
  text-align: center;
}
.hero .row .btn {
  float: none;
}
@media all and (max-width: 480px) {
  .hero {
    height: 400px;
  }
  .hero .row {
    padding: 50px 10px 0 10px;
  }
  .hero .row .btn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
.hero .title {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: normal;
  margin-bottom: 5px;
  letter-spacing: -1px;
}
.hero .subtitle {
  color: #f7f7f7;
  margin-bottom: 20px;
}
.big-title {
  padding: 10px 0;
  width: 100%;
  border-bottom: solid 1px #e8e8e8;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #cccccc;
  margin: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.row.collapse .step.columns {
  padding: 40px;
  padding-bottom: 0;
  oveflow: hidden;
  color: white;
  background: white;
}
.row.collapse .step.columns p {
  color: #8b9099;
}
.row.collapse .step.columns h2 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #21292e;
  font-weight: normal;
}
.row.collapse .step.columns:nth-child(2) {
  background: #bedcf0;
}
.mtb-40 {
  margin: 40px 0;
}
/** How It works **/

.ani-wrap img {
  max-width: 100%;
}
.single-order {
  background: white;
  border-radius: 3px;
  border: solid 1px #e7e7e7;
  margin-bottom: 20px;
}
.single-order .details {
  padding: 10px;
}
.single-order .details h3 {
  margin: 3px 0;
}
.single-order .details h3 a {
  color: #4aa3df;
}
.single-order .details h3 a:hover {
  color: #2980b9;
}
.single-order .details span {
  font-size: 14px;
  font-size: 1.4rem;
  color: #454545;
}
.single-order .items {
  padding: 10px;
  background: #ececec;
}
.single-order .items li {
  padding: 4px 10px;
  background: white;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #aaaaaa;
}
.add-items {
  margin-bottom: 10px;
}
.add-items li {
  padding: 20px;
  background: whitesmoke;
  border-radius: 3px;
  border: solid 1px #ececec;
  width: 100%;
  height: 330px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.add-items li input {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.add-items li span.toggle-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  color: #213d50;
  cursor: pointer;
  display: none;
  padding: 10px;
}
.add-items li.contract {
  height: 50px;
  overflow: hidden;
  padding: 0 20px;
}
.add-items li.contract .name {
  background: whitesmoke;
  border-color: whitesmoke;
  margin: 5px 5px 5px 0;
}
.add-items li.contract span.toggle-edit {
  display: block;
}
.add-item {
  display: block;
  text-align: center;
  padding: 20px 0;
  color: #4aa3df;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.marketplace-ad {
  padding: 20px;
  border-top: solid 1px #e0e0e0;
  text-align: center;
}
.marketplace-ad .btn {
  float: none;
}
/** Published Order **/

.published-order .status-details {
  margin-bottom: 20px;
}
.published-order .status-details li {
  padding: 10px;
  font-size: 15px;
  font-size: 1.5rem;
  border-bottom: solid 1px #999999;
}
.published-order .status-details li:hover,
.published-order .status-details li.active {
  background: #213d50;
  color: white;
}
.published-order .stage-wrap {
  overflow: hidden;
  padding: 0;
}
.published-order .stage-wrap .stage {
  width: 200%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.published-order .stage-wrap .stage.two {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.published-order .stage-wrap .stage ul {
  width: 50%;
  float: left;
}
.published-order .order-notes {
  padding: 0 10px;
}
.published-order .order-notes .date {
  margin: 0;
  text-align: right;
  font-size: 13px;
  font-size: 1.3rem;
}
.published-order .order-notes .note {
  margin-top: 3px;
  background: #e9e9e9;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0px 2px 0px #cccccc;
  -moz-box-shadow: 0px 2px 0px #cccccc;
  -ms-box-shadow: 0px 2px 0px #cccccc;
  -o-box-shadow: 0px 2px 0px #cccccc;
  box-shadow: 0px 2px 0px #cccccc;
}
.published-order .order-notes .note:after {
  position: absolute;
  content: "";
  top: -10px;
  left: 10px;
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #e9e9e9 transparent;
}
/** Marketplace single product **/

.single-product {
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 3px;
  height: 0;
  margin-bottom: 20px;
  border: solid 1px #e2e2e2;
  -webkit-box-shadow: 0px 2px 0px #e2e2e2;
  -moz-box-shadow: 0px 2px 0px #e2e2e2;
  -ms-box-shadow: 0px 2px 0px #e2e2e2;
  -o-box-shadow: 0px 2px 0px #e2e2e2;
  box-shadow: 0px 2px 0px #e2e2e2;
  position: relative;
}
.single-product .add-to-cart,
.single-product .details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.single-product .add-to-cart {
  z-index: 2;
  padding: 10px;
  background: #333333;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}
.single-product .add-to-cart.show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.single-product .add-to-cart.show input,
.single-product .add-to-cart.show select {
  margin: 5px 0;
}
.single-product .add-to-cart.show .confirm {
  margin-top: 10px;
}
.single-product .details img {
  width: 100%;
}
.single-product .details .add-to-cart-btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  text-align: center;
  display: none;
}
@media all and (max-width: 768px) {
  .single-product .details .add-to-cart-btn {
    display: block;
  }
}
.single-product .details:hover .add-to-cart-btn {
  display: block;
}
.single-product .details .title {
  background: rgba(39, 76, 116, 0.8);
  width: 100%;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}
.single-product .details .title .price {
  display: block;
  margin-top: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
}
.single-product .details .title .price .reg {
  text-decoration: line-through;
}
/** Marketplace responsive hack **/

@media all and (min-width: 740px) and (max-width: 960px) {
  .products .row .large-3 {
    width: 33.33333%;
  }
}
@media all and (min-width: 400px) and (max-width: 740px) {
  .products .row .large-3 {
    width: 50%;
  }
}
/** Overlay **/

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: black;
  display: none;
}
.small-pop,
.mid-pop {
  position: absolute;
  width: 500px;
  max-width: 90%;
  padding-bottom: 20px;
  top: 30px;
  background: white;
  display: none;
  z-index: 1000;
  border-radius: 3px;
}
.small-pop h2,
.mid-pop h2 {
  background: #e4e4e4;
  color: #454545;
  padding: 20px 10px;
  text-align: center;
  margin-top: 0px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
}
.small-pop .inside,
.mid-pop .inside {
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .small-pop,
  .mid-pop {
    top: 50px !important;
    height: auto;
  }
}
.login input {
  margin: 5px 0;
}
.login > p {
  margin-top: 20px;
}
.login p {
  text-align: center;
  padding: 0 7.5%;
  color: #999999;
}
.login .option {
  display: block;
  margin: 10px auto;
  background: #213d50;
  padding: 10px 20px;
  color: white;
  width: 85%;
  max-width: 250px;
  text-align: center;
  border-radius: 5px;
}
.login .option:hover {
  background: #2980b9;
}
.login .forgot {
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  padding: 7px;
}
