// @import url(http://fonts.googleapis.com/css?family=Rambla:400,700);
@import url('../font/font.css');

html { font-size: 62.5%; height: 100%; }

body { 
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    height: 100%;
    position: relative;
    cursor: default;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: "DinWeb", Helvetica, Arial, sans-serif;
    color: #525252;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button {
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer; }

a {
  color: inherit;
}

.transition(@string: all 0.1s ease-in-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}

.transform(@string) {
-webkit-transform: @string;
-moz-transform:    @string;
-ms-transform:     @string;
-o-transform:      @string;
transform:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fz(@pxValue) {
    @remValue: (@pxValue/10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem"; }
    
.box-shadow(@x: 0, @y: 0, @blur: 3px, @red: rgba(0,0,0,0.3)) {
    -webkit-box-shadow:  @arguments;
    -moz-box-shadow:     @arguments;
    -ms-box-shadow:      @arguments;
    -o-box-shadow:       @arguments;
    box-shadow:          @arguments;
}

.gradient(@red: #F5F5F5, @start: #EEE, @stop: #FFF) {  background: @red;

  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.square(@x) {
    height: @x;
    width: @x; }
    
.db() { display: block; }
.dib() { display: inline-block; }
.none { display: none; }
.absol() { position: absolute; }
.fixed() {position: fixed; }
.rel() { position: relative; }
.fl() { float: left; }
.fr() { float: right; }
.no-pad { padding: 0; }
.ptb-80 { padding: 80px 0; }
.ptb-40 { padding: 40px 0; }
.gap-top { margin-top: 30px; }
    
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  .fz(16);
  line-height: 1; }

section {
  .rel;
}

@mobile:    ~"all and (min-width: 320px) and (max-width: 640px)";
@tablet:    ~"all and (min-width: 320px) and (max-width: 959px)";
@custom:    ~"all and (min-width: 320px) and (max-width: 1024px)";
@desktop:   ~"all and (min-width: 960px) and (max-width: 1199px)";


.no-mobile {
  @media @mobile { .none;  }
}

@blue: #6194e1;
@dark-blue: #567fbd;
@alt-blue: #3A506F;
@cream: #f9f9f9;
@orange: #e17c61;

.blue { background: @blue; }
.orange { background: @orange; }
.circle { .square(10px); border-radius: 50%; .dib;}

//Delays
.delay-4s {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}

//Body Styles
.header {
  height: 80px; .rel;
  background: @blue;
  padding: 20px 0 20px 20px;
  z-index: 10; .fixed; top: 0;
  width: 100%;

  .menu, .logo, .details, .avatar { .fl; color: white; }

  .logo { margin-right: 20px; }

  .menu {
    li {
      .fl; padding: 0 10px;
      a {
        .fz(15); opacity: 0.5;
        color: white;
        font-weight: 600;
        text-transform: uppercase;

        &.active { opacity: 1; }
        line-height: 40px;
      }

      &:nth-child(2) {
        animation-delay: .1s;
        -webkit-animation-delay: .1s;        
      }

      &:nth-child(3) {
        animation-delay: .2s;
        -webkit-animation-delay: .2s;        
      }
    }
  }

  .account {
    .absol;  top: 0;
    right: 0; height: 100%;
    padding: 20px 30px;
    background: @dark-blue;

    .details {
      text-transform: uppercase;
      text-align: right;
      margin-right: 10px;

      span { 
        display: block;
        margin-bottom: 3px;
      }

      .name { .fz(14); font-weight: bold;}
      .number { .fz(18); }
    }
  }
}

.sidebar {
  .fixed; width: 270px;
  top: 0; background: @alt-blue;
  height: 100%;
  padding: 100px 35px 40px 35px;
  color: lighten(@alt-blue, 50%);
  overflow: auto;

  &.two {
    left: 270px;
    background: darken(@alt-blue, 3%);
    width: 200px;
  }

  p {
    color: lighten(@alt-blue, 40%);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    max-width: 150px;
  }

  h3 {
     .fz(28); margin: 0 0 30px;
     line-height: 1;
  }

  .sort {
    margin: 0 0 30px;
    li {
      a {
        padding: 15px;.db;
        border: solid 1px rgba(0, 0, 0, 0.05);
        text-transform: uppercase;
        background: @dark-blue;
        .transition(.2s);
        .transform(scale(1));
        color: white;

        &:hover {
          background: darken(@dark-blue, 3%)
        }

        &.active {
          background: @blue;
        }

        &:hover, &.active {
          .transform(scale(1.02));
          border-bottom: solid 1px rgba(0, 0, 0, 0.08);
        }
      }

      &:not(:last-child) {
        a { border-bottom: 0; }
      }
    }
  }

  .recurrent {
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 1px rgba(255, 255, 255, 0.08);

    h4 {
      .fz(20);
      margin: 3px 0;
    }
  }
}

.content {
  padding: 80px 0 0 270px;

  &.pad { padding-left: 470px; }

  .card {
    padding: 20px 30px 20px 50px; float: left; width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);

    &:nth-child(2) {
        animation-delay: .1s;
        -webkit-animation-delay: .1s;        
    }

    &:nth-child(3) {
      animation-delay: .3s;
      -webkit-animation-delay: .3s;        
    }

    &:nth-child(4) {
      animation-delay: .5s;
      -webkit-animation-delay: .5s;        
    }

    &:nth-child(5) {
      animation-delay: .8s;
      -webkit-animation-delay: .8s;        
    }

    .border {
      border-right: solid 1px rgba(0, 0, 0, 0.05);
    }

    .columns {
      padding-left: 40px;
    }

    .time-frame {
      .fz(24); color: @blue;
      margin-bottom: 0;

      &.loss { color: @orange }
    }

    .opening-balance {
      opacity: 0.5;
      .fz(18);

      span {
        display: block;
        text-transform: uppercase;
        .fz(12); font-weight: bold;
      }
    }

    .title {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    .amount {
      margin: 5px 0 10px; .fz(40);
      &.gain { color: @blue; }
      &.loss { color: @orange;  }
    }

    a, .titbit {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    .titbit {
      display: block;
      margin-top: 5px;
      text-transform: uppercase;
    }

    .type {
      display: inline-block; .fl;
      padding: 20px;

      .type_name {
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
      }

      .transaction_count {
        small {
          text-transform: uppercase;
          opacity: 0; .transition(.3s);
          .transform(translateY(-10px))
        }

        &:hover {
          small {
            opacity: 1;
            .transform(translateY(-0))
          }
        }

        span {
          display: block;
          color: @blue;
          .fz(36);

          &.alt {
            color: @orange;
          }
        }
      }
    }
  }
}

//Table

@breakpoint: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0; padding: 1em 0 0;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    span {
      font-weight: bold;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: @breakpoint) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: @breakpoint) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
}

.chart {
  clear: both;
  width: 100%;
  margin-bottom: 20px;

  .bar {
    height: 15px; display: block;
    width: 100%; .rel;
    margin-bottom: 3px;
    .transition(.2s);
    overflow: hidden;

    .title {
      .fz(10);
      font-weight: 600;
      .absol; top: 2px;
      z-index: 2;
      left: 5px;
      color: @alt-blue;
      text-transform: uppercase;

      &.spent {
        text-transform: none;
        .fz(14); font-weight: bold;
        opacity: 0; .transition(.2s);
        top: 14px;
      }
    }

    &:hover {
      .transform(scale(1.01));
      height: 30px;

      .title.spent {
        opacity: 1;
      }
    }


    .level {
      .absol; top: 0;
      left: 0; height: 100%;
      background: lighten(@alt-blue, 50%);
      display: block;
    }
  }
}
