---
import DetailsSlide from "../general/DetailsSlide.astro";

const { id } = Astro.props;

const footerProjects = [
    {
        href: "/cover-bank",
        text: "Cover Bank"
    },
    {
        href: "/jguide",
        text: "The J Guide"
    },
    {
        href: "/hanky-panky",
        text: "Hanky Panky"
    },
]
---
<DetailsSlide id={id} header="FEEL GOOD" category="Comic, Book" projects={footerProjects}>
    <p slot="custom-body" class="intro">
        The stories are compiled and edited by Daniel Orubo and will be published online in 2022. 
    </p>
    <p class="description">
        Feel Good is an anthology of queer love stories written by twelve of the best up-and-coming writers in Nigeria today. We’re making this book because there aren’t enough depictions of queer joy in the media, especially people of colour. We want Feel Good to connect with queer Africans and anyone who enjoys stories of joy, love and acceptance.
    </p>
    <article class="category">
         <h3 class="category_header">
            WRITERS
         </h3>
        <div class="category__grid is-mobile">
            <div class="category__column">
                <p class="category__author">
                    Edwin Okolo
                </p>
                <p class="category__author">
                    Adeniyi Ademoroti
                </p>
                <p class="category__author">
                    OluTimehin Kukoyi
                </p>
                <p class="category__author">
                    Innocent Ilo
                </p>
                <p class="category__author">
                    Olakunle Ologunro
                </p>
                <p class="category__author">
                    Kunle Popoola
                </p>
            </div>
            <div class="category__column">
                <p class="category__author">
                    Ope Adedeji
                </p>
                <p class="category__author">
                    Alithnayn Abdulkareem
                </p>
                <p class="category__author">
                    Ani Kayode Somtochukwu
                </p>
                <p class="category__author">
                    Arinze Ifeakandu
                </p>
                <p class="category__author">
                    Mariam Sule-Izuagbe
                </p>
                <p class="category__author">
                    Eloghosa Osunde
                </p>
            </div>
        </div>
    </article>
    <article class="with-mobile-margin">
         <h3 class="category_header">
            Producers
         </h3>
        <div class="category__grid">
            <div class="category__column">
                <p class="category__author">
                    Daniel Orubo
                </p>
                <p class="category__author">
                    Opemipo Aikomo
                </p>
                <p class="category__author">
                    Ire Aderinokun
                </p>
                <p class="category__author">
                    Niyi Okeowo
                </p>
                <p class="category__author">
                    Oninye Dike
                </p>
                <p class="category__author">
                    Nneoma Kenure
                </p>
                <p class="category__author">
                    Williams Ogah
                </p>
                <p class="category__author">
                    Agnes Ekanem
                </p>
                <p class="category__author">
                    Tomiwa Ajiboye
                </p>
            </div>
            <div class="category__column">
                <p class="category__role">
                    Editor
                </p>
                <p class="category__role">
                    Design Director
                </p>
                <p class="category__role">
                    Executive Producer  
                </p>
                <p class="category__role">
                    Art Director
                </p>
                <p class="category__role">
                    Paper Director
                </p>
                <p class="category__role">
                    Assistant Editor
                </p>
                <p class="category__role">
                    Management
                </p>
                <p class="category__role">
                    Assistant Producer
                </p>
                <p class="category__role">
                    Assistant Producer
                </p>
            </div>
        </div>
    </article>
</DetailsSlide>
<style>
    .intro{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        max-width: 435px;
    }

    @media (max-width: 600px){
        .intro{
            max-width: 327px;
        }
    }

    .description{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        max-width: 646px;
        margin: 0 0 60px;
    }

    @media (max-width: 600px){
        .description{
            font-size: 16px;
            line-height: 19px;
        }
    }

    .category{
        margin-bottom: 60px;
    }

    .category_header{
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #000000;
        margin: 0 0 15px;
    }

    .category__grid{
        display: flex;
        column-gap: 120px;
        row-gap: 10px;
    }

    @media (max-width: 600px){
        .category__grid{
            column-gap: 46px;
        }

        .category__grid.is-mobile{
            flex-direction: column;
        }
    }

    .category__column{
        display: grid;
        row-gap: 10px;
    }

    .category__author{
        font-size: 20px;
        line-height: 23px;
        text-transform: capitalize;
        color: #000000;
        margin: 0;
        min-width: 156px;
    }

    .category__role{
        color: #938888;
        font-size: 20px;
        line-height: 23px;
        text-transform: capitalize;
        margin: 0;
    }
    
    @media (max-width: 600px){
        .category__author,
        .category__role{
            font-size: 16px;
            line-height: 19px;
            min-width: unset;
        }

        .with-mobile-margin{
            margin-bottom: 60px;
        }
    }
</style>