---
import ProjectSlide from "@components/ProjectSlide.astro";

const { id } = Astro.props;
---
<ProjectSlide id={id} className="slide">
    <div class="authors">
        <p class="author">
            Edwin Okolo
        </p>
        <p class="author">
            Adeniyi Ademoroti
        </p>
        <p class="author">
            OluTimehin Kukoyi
        </p>
        <p class="author">
            Innocent Ilo
        </p>
        <p class="author">
            Olakunle Ologunro
        </p>
        <p class="author">
            Kunle Popoola
        </p>
    </div>
</ProjectSlide>
<style>
    .slide{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #7C287A 6.45%, #A72A7D 27.35%, #C62C7F 49.74%, #B32B7E 64.67%, #7C287A 90.05%);
    }

    .author{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    .author{
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;
    }
</style>