
/*
* Created by Aikomo Onaopemipo,
* Copyright 2012
* Based on Skeleton V1.2
* Copyright 2011, Dave Gamache
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base Grid
================================================== */

    .container { position: relative; width: 960px; margin: 0 auto;   top: 140px; padding: 0; }
    .container .content { position: relative; width: 90%; margin: 0 auto; padding: 20px; }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container { width: 768px;  top: 140px;  }
   		.container .content { position: relative; width: 90%; margin: 0 auto; padding: 20px; }
	}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px;  top: 160px;  }
    	.container .content { position: relative; width: 90%; margin: 0 auto; padding: 20px; }
		#illustration { display: none; }
		#illustration li, .contact li { position: relative; width: 100%; }
		.header { height: 160px; }
		.title a { left: 50%; margin-left: -40px !important; }
		.menu { width: 100%; text-align: center; top: 120px ; line-height:1; right: 0} 
		.menu a { font: 16px 'EB Garamond', serif; padding: 0 5px;}
			.teaser:before { position: relative; width: 20px; height: 20px; display: block; content: ''; left: 50%; top: 0px; margin-left: -10px; 					background: white; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); } 



/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px;  top: 140px;  }
   		.container .content { position: relative; width: 90%; margin: 0 auto; padding: 20px; }
		#illustration { display: none; }
		#illustration li, .contact li { position: relative; width: 100%; }
	}
	


/* #Clearing
================================================== */

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }



/* #Clearing
================================================== */

	.left { float: left; }
	.right { float: right; }

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

