@import url(http://fonts.googleapis.com/css?family=Rambla:400,700);
@import url('font-face/font-awesome.min.css');
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Rambla", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  background: #222222;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #ec3e3f;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
a:hover {
  color: #f16c6d;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */

.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rambla", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 0;
}
section {
  position: relative;
}
.btn {
  color: white;
  background: #222222;
  padding: 4px 10px;
  margin: 0 10px 10px 0;
  outline: none;
  border: solid 1px transparent;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.btn:hover {
  color: #ec3e3f;
}
.btn.large {
  padding: 10px 17px;
  border-radius: 30px;
}
.btn.alert {
  background: #ff5151;
}
.btn.alert:hover {
  border-color: red;
}
.white-bg {
  background: white;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
.no-mobile {
  display: block;
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
header {
  height: 75px;
  line-height: 75px;
  background: #3a3a3a;
  vertical-align: middle;
}
header .search-wrapper {
  height: 75px;
}
header .toggle-search {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  color: #aaaaaa;
  text-align: center;
  line-height: 75px;
}
header .search-box {
  height: 75px;
  padding: 10px;
}
header .search-box .global-search {
  background: #444444;
  border-radius: 30px;
  vertical-align: middle;
  padding-left: 30px;
  margin: 8px 0;
  color: #aaaaaa;
}
@media all and (max-width: 767px) {
  header .search-box {
    position: absolute;
    display: none;
    z-index: 4;
    width: 300px;
    top: 100%;
  }
}
header .logo {
  height: 75px;
  background: url(../img/logo.png) no-repeat center center;
}
@media all and (max-width: 440px) {
  header .logo {
    background-image: url(../img/logo-s.png);
  }
}
header .header-social {
  text-align: right;
  padding-right: 10px;
}
header .header-social a {
  padding: 0 10px;
}
header .toggle-menu {
  color: #aaaaaa;
  text-align: right;
  padding: 0 20px;
}
.nav-wrap {
  background: #333333;
}
.nav {
  text-transform: uppercase;
}
@media all and (min-width: 360px) and (max-width: 960px) {
  .nav > ul {
    border-bottom: solid 1px #444444;
    text-align: center;
  }
}
.nav > ul > li {
  border-bottom: solid 1px #444444;
  padding: 20px 10px;
  position: relative;
}
@media all and (min-width: 360px) and (max-width: 960px) {
  .nav > ul > li {
    display: inline-block;
    border-bottom: 0;
  }
  .nav > ul > li:hover > ul {
    display: block;
  }
}
.nav > ul > li > a {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}
@media all and (max-width: 960px) {
  .nav > ul > li > a {
    display: inline-block;
  }
}
@media all and (max-width: 360px) {
  .nav > ul > li > a {
    width: 120px;
  }
}
.nav > ul > li > ul {
  padding-top: 5px;
}
@media all and (min-width: 360px) and (max-width: 960px) {
  .nav > ul > li > ul {
    position: absolute;
    display: none;
    background: white;
    border: solid 1px #d8d8d8;
    width: 120px;
    top: 100%;
  }
}
@media all and (max-width: 360px) {
  .nav > ul > li > ul {
    display: inline-block;
  }
}
.nav > ul > li > ul > li > a {
  color: #999999;
  font-size: 14px;
  font-size: 1.4rem;
}
.nav > ul > li > ul > li > a:hover {
  color: #ec3e3f;
}
@media all and (min-width: 360px) and (max-width: 960px) {
  .nav > ul > li > ul > li > a {
    display: block;
    padding: 10px 0;
    border-bottom: solid 1px #d8d8d8;
    width: 100%;
    text-align: center;
  }
}
@media all and (min-width: 961px) {
  .nav {
    padding-top: 70px;
  }
}
@media all and (max-width: 360px) {
  .nav {
    display: none;
  }
}
.content-wrap {
  padding: 20px 0 40px 0;
}
.header-title {
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 35px;
  background: #ec3e3f;
  color: white;
  text-align: center;
  font-weight: normal;
  position: relative;
}
.header-title:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #990000 transparent transparent transparent;
}
.single-ft-image {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  background: #aaaaaa;
}
.single-ft-image img {
  width: 100%;
}
.single-ft-post,
.single-ft-comment {
  width: 100%;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
.single-ft-post {
  border-top: solid 1px #dbdbdb;
}
.single-ft-post .img-wrap {
  width: 85px;
  height: 85px;
  background: #cccccc;
  margin-right: 10px;
  display: block;
  float: left;
}
.single-ft-post .category {
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
}
.single-ft-post .post-title {
  font-size: 18px;
  font-size: 1.8rem;
}
.single-ft-comment .comment {
  display: block;
  position: relative;
  padding: 10px;
  background: #ececec;
  color: #777777;
  margin-bottom: 5px;
}
.single-ft-comment .comment:hover {
  color: #ec3e3f;
}
.single-ft-comment .comment:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #ececec transparent transparent transparent;
}
.single-ft-comment .user {
  font-size: 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}
.footer {
  background: #e7e7e7;
  padding: 20px 0 0 0;
}
.footer .footer-logo {
  padding: 20px;
  text-align: center;
}
.footer .links {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.footer .links li {
  width: 30%;
  margin-right: 2%;
  padding: 5px 0;
  border-bottom: solid 1px #cccccc;
  float: left;
}
.footer .links li:hover {
  border-color: #ec3e3f;
}
.footer .links li a {
  color: #777777;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.footer .links li a:hover {
  color: #454545;
}
.footer .subscribe {
  background: #ec3e3f;
  padding: 20px;
  display: inline-block;
  position: relative;
}
.footer .subscribe p {
  color: white;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.footer .subscribe input[type=text] {
  background: #333333;
  color: white;
}
.footer .subscribe button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  height: 38px;
}
.grid {
  padding: 20px 0;
}
.grid .columns {
  padding: 0 0.125em;
  margin-bottom: 0.25em;
}
.grid > .columns {
  padding: 0;
  margin-bottom: 0;
}
.grid .wrap {
  width: 100%;
  background: #666666;
  padding-bottom: 100%;
  overflow: hidden;
}
.grid .wrap.p134 {
  padding-bottom: 133.7%;
}
@media all and (max-width: 768px) {
  .grid .wrap.p134 {
    padding-bottom: 100%;
  }
}
.grid .wrap img {
  width: 100%;
}
