---
const { credits, className = '' } = Astro.props; 
---
<section class={`credits ${className}`}>
    {
        credits.map(section => (
            <article>
                <h3 class="section-header">{section.title}</h3>
                <div class="section-grid">
                    <div class="column">
                        {
                            section.authors.map(author => (
                                <p class="label">
                                    {author.name}
                                </p>        
                            ))
                        }
                    </div>
                    <div class="column">
                        {
                            section.authors.map(author => (
                                <p class="value">
                                    {author.role}
                                </p>        
                            ))
                        }
                    </div>
                </div>
            </article>
        ))
    }
</section>
<style>
    .credits{
        display: flex;
        flex-direction: column;
        row-gap: 44px;
    }

    .section-header{
        margin: 0 0 15px;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #000000
    }

    .section-grid{
        display: flex;
        column-gap: 70px;
        align-items: flex-start;
    }

    @media (max-width: 600px){
        .section-grid{
            column-gap: 50px;
        }
    }

    .column{
        display: grid;
        row-gap: 10px;
    }

    .label{
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        margin: 0;
    }

    .value{
        font-size: 20px;
        line-height: 23px;
        color: #938888;
        margin: 0;
    }

    @media (max-width: 600px){
        .label, .value{
            font-size: 16px;
            line-height: 19px;
        }
    }
</style>