---
//Styles
import resetStyles from "@styles/site.css";

// Components
import BaseHead from '@components/BaseHead.astro'
import MobileNav from "@components/MobileNav.astro";
import SubscribeForm from "@components/SubscribeForm.astro";
import SocialLinks from "@components/SocialLinks.astro";

//Assets
import logo from "@images/logo.png";

export interface Props {
	pageTitle: string,
	pageUrl: string,
	pageImage?: string,
	pageDescription?: string,
    header: string,
    activeLink: string,
    centerHeaderOnMobile?: boolean
}

const {
    pageTitle,
    header,
    activeLink,
    centerHeaderOnMobile
} = Astro.props;

const menuLinks = [
    {
        text: "About",
        href: "/about",
        id: "about"
    },
    {
        text: "Journal",
        href: "https://medium.com/wuruwuru",
        id: "journal",
        external: true
    },
    {
        text: "Team",
        href: "/team",
        id: "team"
    },
]
---
<!DOCTYPE html>
<html lang="en">
	<BaseHead { ...Astro.props }></BaseHead>
    <body>
        <main class="main">
            <aside class="sidebar">
                <a href="/" class="sidebar__logo">
                    <img src={logo} alt="Wuruwuru logo">
                </a>
                <ul class="sidebar__links">
                    {menuLinks.map(link => (
                            <li>
                                <a 
                                    href={link.href} 
                                    class={`sidebar__link ${activeLink === link.id ? "is-active" : ""}`}
                                    target={link.external ? "_blank" : "_self"}
                                >
                                    {link.text}
                                </a>
                            </li>
                    ))}
                </ul>
            </aside>
            <MobileNav className="mobile-nav"/>
            <div class="main-content">
                <h1 class={`heading ${centerHeaderOnMobile ? "is-centered" : ""}`}>
                    {header}
                </h1>
                <slot/>
            </div>
        </main>
        <footer class="footer">
            <SubscribeForm client:visible/>
            <SocialLinks/>
        </footer>
    </body>
</html>

<style>
    .main{
        display: flex;
        column-gap: 234px;
        padding-top: 34px;
        padding-left: 40px;
    }

    @media (max-width: 600px){
        .main{
            flex-direction: column;
            row-gap: 38px;
            padding: 0 15px;
        }
    }

    .sidebar{
        height: fit-content;
        position: sticky;
        top: 34px;
    }

    @media (max-width: 600px){
        .sidebar{
            display: none;
        }   
    }

    .sidebar__logo{
        width: 50px;
        display: block;
        margin-bottom: 30px;
    }

    .sidebar__logo img{
        width: 100%;
    }

    .sidebar__links{
        display: grid;
        list-style-type: none;
        row-gap: 20px;
        padding: 0;
    }

    .sidebar__link{
        font-size: 18px;
        line-height: 21px;
        color: black;
        text-decoration: none;
    }

    .sidebar__link.is-active{
        color: #938888;
    }

    .mobile-nav{
        margin-top: 45px;
    }

    .main-content{
        padding-top: 81px;
    }
    
    @media (max-width: 600px){
        .main-content{
            padding-top: 0;
        }
    }

    .heading{
        font-size: 96px;
        line-height: 112px;
        font-weight: normal;
        font-family: 'Soehne Schmal';
        color: black;
        text-transform: uppercase;
        margin: 0;
    }

    @media (max-width: 600px){
        .heading{
            font-size: 64px;
            line-height: 75px;
        }

        .heading.is-centered{
            text-align: center;
        }
    }

    .footer{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
        padding-bottom: 126px;
    }

    @media (max-width: 600px){
        .footer{
            padding-bottom: 77px;
        }
    }
</style>